@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';
@import '../../../../assets/scss/dlvr-ui-kit.scss';
@import '../../../../theme/variables.scss';
@import '../../../../assets/scss/custom-variables.scss';
@import '../market-place.component.scss';
.container{
    padding: 0; margin-top: -26px;

    overflow: auto;
}
.image-container {
    position: relative;
}

#myCarousel {
    height: unset
}
.text-primary {
    color: #337ab7;
}
.msg-wrapper{
    background-color: #f5ebd4;
    border-radius: 24px;
    padding: 8px 16px;
    max-height: 90px;
}
.msg-input-wrapper{
    position: relative;
}
.msg-input-wrapper{
    position: relative; 
    margin-top: 10px;
}
.msg-input-wrapper input{ 
    border-radius: 50px;
    background-color: #fff;
    padding: 6px 16px;
    color: #3e3e3e;
    max-width: 90%;
}
.msg-input-wrapper i{
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 50px;
    background-color: #fc8f28;
    padding: 7px 16px;
    color: #fff;
}
.msg-text-icon{
    vertical-align: middle;
    font-size: 15px;
    color: #fc8f28;
}
.couter-box{
    margin-top: 24px;
}
.couter-box a.material-icons{
    background-color: #ccc;
    border-radius: 12px;
}
.product-tag{
    border-radius: 50px;
    padding: 3px 9px;
    color: #337ab7;
    background-color: #c7d4e0;
    font-weight: 600;
    margin-right: 4px;
    margin-bottom: 6px;
}
.collection.with-header{
    border: 0;
}
.chat-my-msg{
    border-radius: 50px;
    background-color: rgb(242 153 74 / .1);
    padding: 6px 14px 6px 20px;
    margin-bottom: 8px;
    max-width: 75%;
}
.bottom-sticky-btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    padding-top: 14px;
    padding-bottom: 8px;
}