@import '../../../../theme/variables.scss' ;
@import '../../../../assets/scss/custom-variables.scss';
@import '../../../../assets/scss/dlvr-ui-kit.scss';
@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';
.dlvr-consumer-wrapper{
    margin-bottom: 120px;
}
.dlvr-add-job-btn {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 12;
}
.dlvr-add-job-btn button{
    background: $primary-gradient-color;
}
.dlvr-job-list .card {
    border-radius: 10px;
}
.dlvr-job-list .card .card-title,
.dlvr-job-list .card .card-title i
{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    vertical-align: bottom;
    line-height: 1.3;
}
.dlvr-job-list .card .card-title i {
    font-weight: 500;
}
.dlvr-job-list .card .card-content{
    border-left: 4px solid;
    border-radius: 10px;
    padding: 14px;
}

.dlvr-job-list .card .card-content.dlvr-card-red {
    border-color: $error-color;
}
.dlvr-job-list .card .card-content.dlvr-card-blue{
    border-color: $primary-color;
}
.dlvr-job-list .card .card-content .dlvr-btn { 
    margin-top: 10px;
}
.dlvr-jobList-item p {
    margin-top: 10px;
}
.dlvr-jobList-item p,
.dlvr-jobList-item i{
    color: $light-color2;
}
.dlvr-jobList-amount p {
    margin: 20px 0 10px;
    font-weight: 600;
    color: $light-color2;
}
.dlvr-set-label {
    position: absolute;
    right: 16px;
    top: 0;
}
.dlvr-set-label .dlvr-label {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.dlvr-jobPost-noPost {
    text-align: center;
    color: $light-color2;
    margin-top: 60px;
}
.dlvr-addNewJob-toolTip {
    margin-bottom: 10px;
    text-align: center;
    background: rgba(0, 0, 0, .61);
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    max-width: 180px;
    position: fixed;
    bottom: 58px;
    right: 100px;
    z-index: 12;
}
.dlvr-addNewJob-toolTip::after {
    content: "\f0da"; 
    font-family: 'FontAwesome';
    font-size: 30px;
    position: absolute;
    right: -10px;
    top: -2px;
    color: rgba(0, 0, 0, .61);
}


.modal.dlvr-payment-success-modal {
    background-color: $white-color;
    border-radius: 10px;
}
.dlvr-payment-success-modal .modal-content .dlvr-success,
.dlvr-payment-success-modal .modal-content .dlvr-warning,
.dlvr-payment-success-modal .modal-content .dlvr-danger{
    border-radius: 50px;
    background: $uikit-Green-color;
    color: $white-color;
    font-size: 66px;
    padding: 10px;
}
.dlvr-payment-success-modal .modal-content .dlvr-warning{
    background: $uikit-White-color;
    color: $uikit-Yellow-color;
}
.dlvr-payment-success-modal .modal-content .dlvr-danger{
    background: $uikit-White-color;
    color: $uikit-Red-color;
}
.dlvr-payment-success-modal .modal-content h3 {
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
}
.dlvr-payment-success-modal .modal-content p {
    text-align: center;
    color: $light-color2;
}
.dlvr-payment-success-modal .modal-content .dlvr-fail{
    border-radius: 50px;
    background: $urgent-gradient-color;
    color: $white-color;
    font-size: 40px;
    padding: 10px;
} 
.dlvr-instruction-modal.otp .img-wrapper{
    text-align: center;
}
.dlvr-instruction-modal.otp .img-wrapper img{ 
    max-width: 48px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.dlvr-instruction-modal.otp .dlvr-order-confirmed-block .collection .collection-item .text{
    font-weight: normal;
}
.dlvr-instruction-modal.otp .otp{
    font-size: 18px;
    color: #111;
    font-weight: 700;
    margin: 10px 0;
    padding: 14px;
    background-color: #e9f0f2;
    border-radius: 6px;
    letter-spacing: 2px;
    text-align: center;
} 

.overflow{
    overflow-y: auto;
    overflow-x: hidden;
}