<ion-content>
<div class="dlvr-login-wrapper">
  <div class="row">
    <div class="col s12">
      <div class="container dlvr-new-progress">
        <div class="row" data-aos="fade-down">
          <div class="col s12">
            <div class="progress">
              <div class="progress-bar" id="truckprogress"
                style="width:0%; background:#26bae8; height: 4px; transition: .9s;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <form [formGroup]="signupForm" class="dlvr-signup-form">
          <!--1st-->
          <div class="dlvr-signup-first" *ngIf="step == 'step1'">
            <div class="row">
              <div class="col s12">
                <div class="dlvr-bg-img">
                  <img src="assets/images/city_background_img.png" alt="city_background_img" class="responsive-img">
                  <img src="assets/images/phone_icon.png" alt="phone icon" class="icon" data-aos="zoom-in-up"
                    data-aos-delay="400">
                </div>
              </div>
            </div>
            <div class="row" data-aos="fade-left" data-aos-delay="600">
              <div class="col">
                <h2>1. Add your mobile number</h2>
                <div class="dlvr-title-subtext">
                  Easily contact the people you delivery with. Your number stays private. Carrier rates may apply.
                </div>
              </div>
              <div class="col s3 p-r-0">
                <input type="tel" class="dlvr-uikit-input dlvr-mobile-country-code p-l-10" placeholder="1"
                  formControlName="countryCode">
              </div>
              <div class="col s9 p-l-0">
                <div class="dlvr-input-text-options input-field">
                  <input type="tel" class="dlvr-uikit-input dlvr-uikit-input-grey dlvr-mobile-number" minlength="10"
                    placeholder="Mobile Number" formControlName="contact" appPhoneMask content="contactNumber"
                    [(ngModel)]="contactNumber">
                  <img *ngIf="signupForm.get('contact').valid" alt="user_icon" class="prefix"
                    src="assets/images/green_tick_icon.png" alt="green_tick_icon">
                  <img *ngIf="!signupForm.get('contact').valid && signupForm.get('contact').dirty" alt="user_icon"
                    class="prefix" src="assets/images/wroong.png" alt="green_tick_icon">
                </div>
                <p class="errorMessage" *ngIf="!signupForm.get('contact').valid && signupForm.get('contact').touched">
                  Enter
                  valid contact</p>
              </div>
            </div>
            <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify" type="button"
              (click)="onVerify()" [disabled]="signupForm.get('contact').invalid">Verify</button>
          </div>
          <!--New 2nd-->
          <div class="dlvr-signup-varify-otp" *ngIf="step == 'step2'">
            <div class="row">
              <div class="col s12">
                <div class="dlvr-bg-img">
                  <img src="assets/images/otp_img.png" alt="otp icon" class="icon" data-aos="zoom-in-up"
                    data-aos-delay="400">
                  <img src="assets/images/city_background_img.png" alt="city_background_img" class="responsive-img">
                </div>
              </div>
            </div>
            <div class="row" data-aos="fade-left" data-aos-delay="600">
              <div class="col">
                <h2>2. What's the code?</h2>
                <div class="dlvr-title-subtext">
                  Sent to {{signupForm.get('contact').value}}
                </div>
              </div>
            </div>
              <ng-otp-input class="otp-inputs" (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
            <div class="row">
              <div class="col s12">
                <!-- <div *ngIf="userOTP">{{userOTP}}</div> -->
                <div class="dlvr-title-subtext" *ngIf="userOTP">
                  Your code is: {{userOTP}}
                </div>
                <div class="dlvr-forgot-password"><a (click)="openModel('modalTroubleList')">Having Trouble?</a></div>
              </div>
            </div>
            <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify" type="button"
              (click)="verifyOTP()">Next</button>
            <!--[disabled]="userOTP == undefined || userOTP?.length == 0"-->
          </div>
          <!--2nd-->
          <div class="dlvr-signup-second" *ngIf="step == 'step3'">
            <div class="row m-b-20">
              <div class="col s12">
                <div class="dlvr-bg-img">
                  <img src="assets/images/city_background_img.png" alt="city_background_img" class="responsive-img">
                  <img src="assets/images/user_details_icon.png" alt="user_details_icon" class="icon"
                    data-aos="zoom-in-up" data-aos-delay="400">
                </div>
              </div>
            </div>
            <div class="row" data-aos="fade-left">
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/user_icon.png" alt="user_icon" class="prefix">
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="First Name"
                    formControlName="first_name">
                </div>
                <p class="errorMessage"
                  *ngIf="!signupForm.get('first_name').valid && signupForm.get('first_name').touched">
                  Please Enter a valid first name.</p>
              </div>
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/user_icon.png" alt="user_icon" class="prefix">
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Last Name"
                    formControlName="last_name">
                </div>
                <p class="errorMessage"
                  *ngIf="!signupForm.get('last_name').valid && signupForm.get('last_name').touched">
                  Please Enter a valid last name.</p>
              </div>
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/emil_icon.png" alt="emil_icon" class="prefix">
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Email"
                    formControlName="email">
                </div>
                <p class="errorMessage" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Enter
                  valid
                  email</p>
              </div>
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/password_icon.png" alt="password_icon" class="prefix">
                  <input type="password" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Password"
                    formControlName="password">
                </div>
                <p class="errorMessage" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                  Please
                  Enter a valid password (minimum 5 characters required.).</p>
              </div>
            </div>
            <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify" type="button"
              (click)="goToSignupFourth()" [disabled]="!signupForm.controls['first_name'].valid 
            && !signupForm.controls['last_name'].valid
            && !signupForm.controls['email'].valid
            && !signupForm.controls['password'].valid">Next</button>

            <!-- <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20"
            type="button" (click)="goToSignupThird()" [disabled]="!signupForm.controls['first_name'].valid 
            && !signupForm.controls['last_name'].valid
            && !signupForm.controls['email'].valid
            && !signupForm.controls['password'].valid">Save &amp; Next</button>  -->
          </div>
          <!--3rd-->
          <div class="dlvr-signup-third" *ngIf="step == 'step4'">
            <!-- *ngIf="step == 'step3'"-->
            <div class="row m-b-20">
              <div class="col s12">
                <div class="dlvr-bg-img">
                  <img src="assets/images/city_background_img.png" alt="city_background_img" class="responsive-img">
                  <img src="assets/images/location_icon.png" alt="location_icon" class="icon" data-aos="zoom-in-up"
                    data-aos-delay="400">
                </div>
              </div>
            </div>
            <div class="row dlvr-signup-add-wrapper" data-aos="fade-left">
              <div class="col s12">
                <h2>Enter your Address</h2>
                <div class="dlvr-title-subtext">
                  Your details are safe with us.
                </div>
              </div>
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/location_icon_grey.png" alt="location_icon_grey" class="prefix">
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Block"
                    formControlName="unit">
                </div>
              </div>
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/location_icon_grey.png" alt="location_icon_grey" class="prefix">
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Street"
                    formControlName="street">
                </div>
                <p class="errorMessage" *ngIf="!signupForm.get('street').valid && signupForm.get('street').touched">
                  Please Enter a valid street name.</p>
              </div>
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/location_icon_grey.png" alt="location_icon_grey" class="prefix">
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="City"
                    formControlName="city">
                </div>
              </div>
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/location_icon_grey.png" alt="location_icon_grey" class="prefix">
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="State"
                    formControlName="state">
                </div>
                <p class="errorMessage" *ngIf="!signupForm.get('state').valid && signupForm.get('state').touched">
                  Please Enter a valid state name.</p>
              </div>
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/current_location_icon.png" alt="current_location_icon" class="prefix">
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Zip"
                    formControlName="zip">
                </div>
                <p class="errorMessage" *ngIf="!signupForm.get('zip').valid && signupForm.get('zip').touched">
                  Please Enter a valid zip name.</p>
              </div>
            </div>
            <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify" type="button"
              (click)="signupUser()">Signup</button>
            <!-- <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20"
              type="button" (click)="signupUser()" [disabled]="!signupForm.valid">Sign up</button> -->
          </div>
        </form>
      </div>
      <!-- <div class="dlvr-login-divider">
            <p>Sign up with</p>
          </div>
      <div class="dlvr-register-btn-wrapper">
      <button class="waves-effect waves-ripple btn btn-full-width btn-large dlvr-btn dlvr-white-btn m-t-10 m-b-5" type="button" (click)="signInWithGoogle()">
              <img src="assets/images/google.svg" alt="google"/> 
              Sign up with Google
      </button>
      </div> -->
      <!-- <div class="dlvr-login-footer">
        <p>By Signing in you accepts the Terms of Services and Privacy Policy</p>
        <a class="center" (click)="goForLogin()" class="pointer-cursor">Already have an account?</a>
      </div> -->
    </div>
  </div>
</div>

<!-- <div class="dlvr-modal dlvr-forgetPassword-modal" materialize>
  <div id="modalOTP" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
      <div class="modal-footer">
          <div class="dlvr-modal-btn-wrapper">
              <input type="text" class="dlvr-text-input" placeholder="Enter OTP" [(ngModel)]="userOTP">
              <button class="dlvr-uikit-btn dlvr-uikit-btn-rounded dlvr-uikit-btn-blue" (click)="goToSignupSecond()" [disabled]="userOTP == undefined || userOTP?.length == 0">Enter</button>
          </div> 
      </div>
  </div> 
</div> -->

<div class="dlvr-modal dlvr-having-trouble-popup" materialize>
  <!-- Modal -->
  <div id="modalTroubleList" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: true}]"
    [materializeActions]="modalActions">
    <div class="modal-footer">
      <ul class="dlvr-hving-trouble-popup-list">
        <li class="first">
          Number: {{signupForm.get('contact').value}}
        </li>
        <li (click)="sendNewCode()">
          <a>
            Send a new code
          </a>
        </li>
        <li (click)="useDiffNum()">
          <a>
            Use different number
          </a>
        </li>
        <!-- <li>
              <a>
                Skip
              </a>
            </li> -->
        <li (click)="closeModel('modalTroubleList')">
          <a>
            Cancel
          </a>
        </li>
        <li>
          <div class="endLine"></div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Modal End-->
</div>
</ion-content>