@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';
.dlvr-order-summary{ 
    background: #4476d3; /* Old browsers */
    background: -moz-linear-gradient(top, #4476d3 0%, #589bde 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4476d3 0%,#589bde 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4476d3 0%,#589bde 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4476d3', endColorstr='#589bde',GradientType=0 ); /* IE6-9 */
    padding-bottom: 16px;
    height: 100vh;
}
.dlvr-input-container{
    padding: 10px 16px 10px 36px;
    width: 86%;
    background-color: #4269ab;
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
}
.dlvr-input-container input{
    color: #a0b1b2;
    border-bottom-color: #a0b1b2;
    font-weight: 600;
    margin-bottom: 0;
    height: 30px;
}
.dlvr-input-container.delivery::before{
    content: "";
    position: absolute;
    // background-image: url(../../../../assets/images/address_pin_small.png);
    background-size: contain;
    width: 13px;
    height: 149px;
    left: 13px;
    top: -54px;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}
.dlvr-input-container input::placeholder,
.dlvr-input-container small{
    color: #fff;
    font-size: 13px;
}
.dlvr-input-container p.pickup-address,
.dlvr-input-container p.delivery-address{
    color: #26bae8;
    margin: 0;
    font-weight: 400;
}
.dlvr-input-container p.delivery-address{
    color: #224ca3; 
}
.dlvr-os-list{
    margin-top: 16px;
}
.dlvr-os-list .title,
.dlvr-os-list .content{
    color:rgba(255,255,255,.5);
    font-size: 13px;
    margin: 0;
}
.dlvr-os-list .content{
    color: #fff;
    font-weight: 600;
}
.dlvr-having-trouble-popup .modal.bottom-sheet{
    max-height: 65%;
    min-height: 245px;
}
.dlvr-having-trouble-popup .modal .modal-footer{
    padding: 0;
}
.dlvr-order-confirmed-block{ 
    background-color: #fff;
    overflow: hidden;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    margin-top: 20px;
    padding: 24px 0 0; 
    text-align: center;    
    position: absolute;
    bottom: -6px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, .2);
    height: 50%;
}
.dlvr-order-confirmed-block img{
    max-width: 100%;
}
.dlvr-order-confirmed-block h3,
.dlvr-order-confirmed-block i{
    color: #0b9612;
}
.dlvr-order-confirmed-block i{
    margin-top: 24px;
    font-size: 46px;
}
.dlvr-order-confirmed-block .title{
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
}
.dlvr-order-confirmed-block .content{
    margin-top: 8px;
    font-weight: 600;
    color: #313131;
}

@media (max-width: 375px){
    .dlvr-order-confirmed-block{ 
        bottom: -48px;  
    }
}