@import '../../../../theme/variables.scss' ;
@import '../../../../assets/scss/custom-variables.scss';
@import '../../../../assets/scss/dlvr-ui-kit.scss';
@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';
.dlvr-notification-screen-wrapper .dlvr-card h3,
.dlvr-notification-screen-wrapper .dlvr-card p {
    margin-top: 6px;
    padding-left: 46px;
    padding-right: 20px;
    width:60px;
}
.dlvr-notification-screen-wrapper .dlvr-card h3{
    margin-bottom: 0px;
    font-size: 13px;
}
.dlvr-notification-screen-wrapper .dlvr-card p {
    font-size: 10px;
}
.dlvr-notification-screen-wrapper .dlvr-card i {
    position: absolute;
    right: 6px;
    color: $light-color2;
}
.dlvr-notification-screen-wrapper .dlvr-card i.dlvr-notification-bell-icon {
    position: absolute;
    left: 6px;
    color: $light-color2;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 36px;
}
.dlvr-close-icon {
    cursor: pointer;
}
.dlvr-no-notification {
    text-align: center;
    color: $light-color2;
}
.bg-lightBlue{
    background-color: #eaf0f2;
}
.dlvr-uikit-list ul li p {
    padding: 12px 0;
    font-weight: 600;
}
.dlvr-uikit-list ul li p img{
    max-width: 28px;
    margin-right: 12px;
}
.switch{
    float: right; position: relative; top: -38px; right: -0.25px;
}

.container{
    margin-bottom: 500px;
}