<div class="container dlvr-full-height-lightbg">
    <!-- <ion-spinner name="crescent" class="set-loader-position" *ngIf="loading" color="primary"></ion-spinner> -->
    <div class="row center dlvr-center-content">
        <div class="col s12">
            <div class="dlvr-uss-img-wrapper">
                <img src="../../../assets/images/logo_600x600.png" alt="logo_600x600" class="responsive-img m-t-50" />
            </div>
            <!-- <div class=".dlvr-uss-title"> -->
            <p class="bold large text-center">
                Hey {{ userName ? userName.full_name : 'User'}}, Select a<br> category to proceed further
            </p>
            <!-- </div> -->
            <button class="dlvr-connect-with drive row m-b-10" type="button" (click)="goAsDriver()">
                <div class="col s3 p-0">
                    <img src="../../../../assets/images/drive_icon.png" alt="drive_icon" class="circle responsive-img">
                </div>
                <div class="col s7"> 
                    <span class="small">I want to</span>
                    <p>Drive</p>   
                </div>
                <div class="col s2 p-0">
                    <img src="../../../../assets/images/green_arrow_icon.png" alt="green_arrow_icon" class="circle arrow responsive-img">
                </div> 
            </button>
            <button class="dlvr-connect-with drive deliver row m-b-10" type="button" (click)="goAsConsumer()">
                <div class="col s3 p-0">
                    <img src="../../../../assets/images/delivery_icon.png" alt="delivery_icon" class="circle responsive-img">
                </div>
                <div class="col s7"> 
                    <span class="small">I want to</span>
                    <p>Deliver</p>   
                </div>
                <div class="col s2 p-0">
                    <img src="../../../../assets/images/blue_arrow_icon.png" alt="blue_arrow_icon" class="circle arrow responsive-img">
                </div> 
            </button>
            <button class="dlvr-connect-with drive shop row" type="button" (click)="goToMarket()">
                <div class="col s3 p-0">
                    <img src="../../../../assets/images/buy_sell_icon.png" alt="buy_sell_icon" class="circle responsive-img">
                </div>
                <div class="col s7"> 
                    <span class="small">I want to</span>
                    <p>Buy/Sell</p>   
                </div>
                <div class="col s2 p-0">
                    <img src="../../../../assets/images/orange_arrow_icon.png" alt="orange_arrow_icon" class="circle arrow responsive-img">
                </div> 
            </button>
        </div>
    </div>
</div>
<!-- <div class="container dlvr-center-content">
    <div class="row center">
        <div class="col s6 l6">
            <div class="dlvr-uss-img-wrapper">
                <img src="../../../assets/images/intro1.png" alt="intro1" class="responsive-img m-b-20 m-t-40" />
            </div>
            <div class="dlvr-uss-btn-wrapper"> 
                <button class="dlvr-uikit-btn dlvr-uikit-btn-small dlvr-uikit-btn-green" (click)="goAsDriver()" type="button">I Deliver</button>
            </div>
        </div>
        <div class="col s6 l6">            
            <div class="dlvr-uss-img-wrapper">
                <img src="../../../assets/images/intro2.png" alt="intro2" class="responsive-img m-b-20 m-t-40" />
            </div>
            <div class="dlvr-uss-btn-wrapper">
                <button class="dlvr-uikit-btn dlvr-uikit-btn-small dlvr-uikit-btn-blue" (click)="goAsConsumer()" type="button">I Want Delivery</button>
            </div>
        </div>
        
    </div>
    <div class="row center">
        <div class="col s12 l6">
            <div class="dlvr-divider l-hide"></div>
            <div class="dlvr-uss-img-wrapper m-t-32-xl">
                <img src="../../../assets/images/market_place.png" alt="intro2" class="responsive-img m-b-20 m-t-10" />
            </div>
            <div class="dlvr-uss-btn-wrapper">
                <button class="dlvr-uikit-btn dlvr-uikit-btn-small dlvr-uikit-btn-blue" (click)="goToMarket()" type="button">Market Place</button>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="dlvr-modal" materialize>  -->
<!-- Modal -->
<!-- <div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
        <div class="modal-footer">
            <div class="dlvr-modal-btn-wrapper">
                <button class="waves-effect waves-light btn dlvr-btn dlvr-primary-btn" (click)="goToLogin()">Log in</button>
                <button class="waves-effect waves-light btn dlvr-btn dlvr-white-btn" (click)="goToSignup()">Create new account</button>
            </div> 
        </div>
    </div> -->
<!-- Modal End-->
<!-- </div> -->