<app-header [headerTitle]="'Help'" [showBackButton]="true"></app-header>
<div class="dlvr-help-screen-wrapper">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col s12">
                <h3 class="center">We are always happy to help you. Please contact us for any query.</h3>
                <div class="card dlvr-card p-30">
                    <h2 class="m-t-0">Lorem Ipsume one ine</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam fuga dolor iste minima ipsa unde! Atque suscipit officiis harum ducimus. Alias magni accusamus quam voluptas, dolorum obcaecati deserunt asperiores vero?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus totam at cum tenetur deserunt, impedit maiores, sunt reprehenderit molestias autem itaque, magni beatae aliquid facere quisquam. Quidem molestiae quibusdam voluptate?</p>
                    <h3>Lorem ipn head00</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod explicabo blanditiis vel necessitatibus, sapiente optio officia atque pariatur veritatis molestiae dicta, odit libero nesciunt iste. Ea provident voluptates repellendus sed.</p>
                    <h4>lioenkans lasd</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab culpa atque, molestiae fuga quis voluptatem ipsum facilis quisquam aut iste consectetur voluptatibus reprehenderit, nihil esse! Suscipit voluptate unde eligendi delectus.</p>
                    <h5>kjlad jhlasd</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio omnis corrupti fuga possimus dolorem culpa quibusdam molestias ut quidem! Ex debitis totam voluptatibus, temporibus nulla quaerat dolorem atque quidem tenetur.</p>
                    <h6>lahd kjalsdj</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nostrum, blanditiis provident officia voluptate, pariatur at unde earum nesciunt aliquam odit ut itaque atque natus, perferendis dicta eaque dolorem praesentium?</p>
                </div>
            </div>
        </div>
    </div>
</div> 