<app-header [headerTitle]="'Profile'" [showBackButton]="true"></app-header>
<div class="dlvr-profile-wrapper">
    <div class="container p-0">
        <div class="dlvr-profile-img-wrapper">
            <!-- <div class="card dlvr-card">
                <img src="../../../assets/images/step5Hero.svg" alt="profile pic" />
            </div> -->
            <img src="{{profileData?.profile_pic}}" alt="profile pic" *ngIf="profileData?.profile_pic" class="image-container" height="auto" width="100%"/>
            <img src="https://www.pngitem.com/pimgs/m/35-350426_profile-icon-png-default-profile-picture-png-transparent.png" alt="profile pic" *ngIf="profileData?.profile_pic == null" class="image-container"/>
            <i class="material-icons image-container" (click)="openModel()">create</i>
        </div>
        <div class="dlvr-uikit-list dlvr-uikit-list-media info-container">
            <ul>
                <li>
                    <p class="p-l-10 p-t-10 p-b-20" style="position: relative;" [ngClass]="userRole == 'Consumer' ? 'consumer-bg' : 'bg-success'">
                        <b>{{editProfileForm?.get('first_name')?.value}}{{editProfileForm?.get('last_name')?.value}}</b>
                        <span class="f-s-14 m-0" style="position: absolute; left: -7px; bottom: 3px;"><i class="material-icons f-s-14" style="color: #51be79;">star</i>{{profileData?.rating}}</span>
                        <!-- <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i> -->
                    </p>
                </li>
                <li>
                    <p>
                        <img class="m-l-10" src="../../../../assets/images/setting/email22.png">
                        <b>{{editProfileForm?.get('email')?.value}}</b>
                        <!-- <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i> -->
                        <img src="../../../assets/images/green_tick_icon.png" style="max-width: 20px; float: right; margin-top: 4px;">
                    </p>
                </li>
                <li>
                    <p>
                        <img class="m-l-10" src="../../../../assets/images/setting/smartphone22.png">
                        <b>{{editProfileForm?.get('contact')?.value}}</b>
                        <!-- <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i> -->
                        <img src="../../../assets/images/green_tick_icon.png" style="max-width: 20px; float: right; margin-top: 4px;">
                    </p>
                </li>
                <!-- <li>
                <p>
                    <img class="m-l-10" src="../../../../assets/images/setting/user22.png"> 
                    <b>Say something about you</b>
                    <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                </p>
              </li> -->
            </ul>
        </div>
        <!-- <form [formGroup]="editProfileForm">
            <div class="row">
                <div class="col s6 p-r-0">
                    <input type="text" placeholder="First Name" class="dlvr-uikit-input dlvr-uikit-input-grey" value="John" formControlName="first_name"/>
                </div>
                <div class="col s6">
                    <input type="text" placeholder="Last Name" class="dlvr-uikit-input dlvr-uikit-input-grey" value="Doe" formControlName="last_name"/>
                </div>
                <div class="col s12">
                    <input type="email" placeholder="Email" class="dlvr-uikit-input dlvr-uikit-input-grey" value="johndoe@gmail.com" formControlName="email"/>
                    <input type="tel" placeholder="Contact Number" class="dlvr-uikit-input dlvr-uikit-input-grey" value="+1698989898" formControlName="contact"/>
                    <div class="row">
                        <div class="col s3">
                          <input type="number" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Age" formControlName="age">
                        </div>
                        <div class="col s9">
                          <div class="dlvr-radio dlvr-radio-blue"
                            [ngClass]="{'active': editProfileForm.controls['gender'].value == 'male' }">
                            <label class="dlvr-uikit-radio">
                              <input value="male" type="radio" formControlName='gender' />
                              <span>Male</span>
                            </label>
                          </div>
                          <div class="dlvr-radio dlvr-radio-blue"
                            [ngClass]="{'active': editProfileForm.controls['gender'].value == 'female' }">
                            <label class="dlvr-uikit-radio">
                              <input value="female" type="radio" formControlName='gender'/>
                              <span>Female</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s3">
                          <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Block" formControlName="unit">
                        </div>
                        <div class="col s9">
                          <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Street" formControlName="street">
                          <p class="errorMessage" *ngIf="!editProfileForm.get('street').valid && editProfileForm.get('street').touched">
                            Please Enter a valid street name.</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s4">
                          <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="City" formControlName="city">
                        </div>
                        <div class="col s4">
                          <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="State" formControlName="state">
                          <p class="errorMessage" *ngIf="!editProfileForm.get('state').valid && editProfileForm.get('state').touched">
                            Please Enter a valid state name.</p>
                        </div>
                        <div class="col s4">
                          <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Zip" formControlName="zip">
                          <p class="errorMessage" *ngIf="!editProfileForm.get('zip').valid && editProfileForm.get('zip').touched">
                            Please Enter a valid zip name.</p>
                        </div>
                      </div>
                    <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-10"
                        type="button" [disabled]="!editProfileForm.valid" (click)="editUserProfile()">Edit profile</button>
                </div>
            </div>
        </form> -->
    </div>
</div>