@import '../../../../../../node_modules/materialize-css/dist/css/materialize.css';
@import '../../../../../assets/scss/dlvr-ui-kit.scss';
span.cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.white-nav{
    background-color: white;
    box-shadow: unset;
    *{
        color: #000;
    }
    .brand-logo{
        font-size: 1.45em;
        font-weight: bold;
    }

}

.mr-10px{
    margin-right: 10px;
}