<app-header [headerTitle]="'Settings'" [showBackButton]="true"></app-header>
<div class="dlvr-paymentMode-screen-wrapper overflow-y">
    <div class="container p-0">
        <div class="row">
            <div class="col s8 dlvr-profile-wrapper">
                <h5>{{profileData?.full_name}}</h5>
                <p class="f-s-14 m-0"><i class="material-icons f-s-14" style="color: #51be79; margin-left: 5px;">star</i> {{profileData?.rating}}</p>
                <button (click)="goToProfile()" class="mt-2 d-block dlvr-uikit-btn dlvr-uikit-btn-black dlvr-uikit-btn-bordered dlvr-uikit-btn-small" style="padding: 5px 12px; font-size: 12px; margin-top: 10px; margin-left: 5px;">Edit Profile</button>
            </div>
            <div class="col s4">
                <img src="../../../assets/images/delivery_profile_icon_green.png" alt="profile pic" class="img-responsive" (click)="goToProfile()" />
                <!-- <img src="{{profileData.profile_pic}}" alt="profile pic" class="img-responsive" (click)="goToProfile()" *ngIf= "profileData?.profile_pic"/> -->
            </div>
        </div>
        <!-- <div class="dlvr-profile-img-wrapper">
            <div class="card dlvr-card">

                <img src="../../../assets/images/step5Hero.svg" alt="profile pic" (click)="goToProfile()"/>
            </div>
        </div> -->
        <div class="row" data-aos="fade-up">
            <div class="">
                <!-- <ul class="collection"> 
                    <li class="collection-item" (click)="goToProfile()"><i class="material-icons-outlined m-r-10">account_circle</i> Edit Profile<a class="secondary-content"><i class="material-icons">navigate_next</i></a></li>
                    <li class="collection-item"><i class="material-icons-outlined m-r-10">credit_card</i> Payment Mode<a class="secondary-content"><i class="material-icons">navigate_next</i></a></li>
                    <li class="collection-item" (click)="goToAboutUs()"><i class="material-icons-outlined m-r-10">info</i> About Us<a class="secondary-content"><i class="material-icons">navigate_next</i></a></li>
                    <li class="collection-item" (click)="goToPolicy()"><i class="material-icons-outlined m-r-10">policy</i> Policy<a class="secondary-content"><i class="material-icons">navigate_next</i></a></li>
                    <li class="collection-item" (click)="goToHelp()"><i class="material-icons-outlined m-r-10">help_outline</i> Help<a class="secondary-content"><i class="material-icons">navigate_next</i></a></li>
                    <li class="collection-item" (click)="logout()"><i class="material-icons-outlined m-r-10">exit_to_app</i> Logout<a class="secondary-content"></a></li>
                  </ul>  -->
                <div class="dlvr-uikit-list dlvr-uikit-list-media">
                    <ul>
                        <!-- <li class="transparent">
                            <h4 class="dlvr-uikit-h4">Heading</h4>
                        </li> -->
                        <!-- <li (click)="goToProfile()">
                            <p>
                                <i class="material-icons dlvr-uikit-list-img">account_circle</i>
                                Edit Profile
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li> -->
                        <li (click)="goToDashboard()">
                            <p class="bg-lightBlue">
                                <img class="m-l-10" src="../../../../assets/images/setting/chat-2.png">
                                <!-- <i class="material-icons dlvr-uikit-list-img">storage</i> -->
                                My Dashboard
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li>
                        <li (click)="goToOrderHistory()">
                            <p>
                                <img class="m-l-10" src="../../../../assets/images/setting/packing-list.png">
                                <!-- <i class="material-icons dlvr-uikit-list-img">history</i> -->
                                My Order History
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li>
                        <!-- <li (click)="goToPaymentMode()"> 
                            <p class="bg-lightBlue">
                                <img class="m-l-10" src="../../../../assets/images/setting/pie-chart.png">
                                Earning
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li> -->
                        <li (click)="goToNotification()">
                            <p>
                                <img class="m-l-10" src="../../../../assets/images/setting/notification.png">
                                <!-- <i class="material-icons dlvr-uikit-list-img">notifications_active</i> -->
                                Notification
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li>
                        <!-- <li (click)="goToMyItems()">
                            <p class="bg-lightBlue">
                                <img class="m-l-10" src="../../../../assets/images/setting/packing-list.png">
                                Your Listings
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li> -->
                        <li (click)="goToChatlist()">
                            <p>
                                <img class="m-l-10" src="../../../../assets/images/setting/chat-2.png"> Messages
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li>
                        <!-- <li (click)="goToRoleSelection()">
                            <p class="bg-lightBlue">
                                <img class="m-l-10" src="../../../../assets/images/setting/secure-payment.png">
                                Switch My Role
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li> -->
                        <li (click)="goToAboutUs()">
                            <p class="bg-lightBlue">
                                <img class="m-l-10" src="../../../../assets/images/setting/report-an-issue.png">
                                <!-- <i class="material-icons dlvr-uikit-list-img">info</i> -->
                                About Us
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li>
                        <li (click)="goToPolicy()">
                            <p>
                                <img class="m-l-10" src="../../../../assets/images/setting/secure-payment.png">
                                <!-- <i class="material-icons dlvr-uikit-list-img">policy</i> -->
                                Policy
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li>
                        <li (click)="goToHelp()">
                            <p class="bg-lightBlue">
                                <img class="m-l-10" src="../../../../assets/images/setting/notification.png">
                                <!-- <i class="material-icons dlvr-uikit-list-img">help_outline</i> -->
                                Help
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li>
                        <li (click)="goToReport()">
                            <p>
                                <img class="m-l-10" src="../../../../assets/images/setting/report-an-issue.png">
                                <!-- <i class="material-icons dlvr-uikit-list-img">report</i> -->
                                Report an issue
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li>
                        <li (click)="showLogoutConfirmation()">
                            <p class="bg-lightBlue">
                                <img class="m-l-10" src="../../../../assets/images/setting/logout.png">
                                <!-- <i class="material-icons dlvr-uikit-list-img">exit_to_app</i> -->
                                Logout
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li>
                        <li (click)="showDeleteAccountConfirmation()">
                            <p>
                                <img class="m-l-10" src="../../../../assets/images/setting/delete.png">
                                <!-- <i class="material-icons dlvr-uikit-list-img">remove_circle</i> -->
                                Delete Account
                                <i class="material-icons-outlined dlvr-uikit-list-right-arrow">chevron_right</i>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal dlvr-payment-success-modal">
    <div class="modal-content">
        <!-- <div class="center" data-aos="zoom-in">
            <i class="material-icons-outlined dlvr-warning">info</i>
        </div> -->
        <h3>Are you sure you want to logout?</h3>
        <div class="row">
            <div class="col s6">
                <button class="btn-full-width dlvr-uikit-btn-small dlvr-uikit-btn dlvr-uikit-btn-green dlvr-uikit-btn-bordered m-t-10" (click)="closeModal('modal1')" type="button">No</button>
            </div>
            <div class="col s6">
                <button class="btn-full-width dlvr-uikit-btn-small dlvr-uikit-btn dlvr-uikit-btn-green m-t-10 m-r-5 p-l-20" (click)="logout()" type="button">Logout</button>
            </div>
        </div>
    </div>
</div>

<div id="modal2" class="modal dlvr-payment-success-modal">
    <div class="modal-content">
        <!-- <div class="center" data-aos="zoom-in">
            <i class="material-icons-outlined dlvr-warning">info</i>
        </div> -->
        <h3>Are you sure?
            <br>
            <h6>By Deleting your Deliveryist account, you’re also deleting your order history.</h6>
        </h3>
        <div class="row">
            <div class="col s6">
                <button class="btn-full-width dlvr-uikit-btn-small dlvr-uikit-btn dlvr-uikit-btn-red m-t-10" (click)="closeModal('modal2')" type="button">No</button>
            </div>
            <div class="col s6">
                <button class="btn-full-width dlvr-uikit-btn-small dlvr-uikit-btn dlvr-uikit-btn-green m-t-10 m-r-5 p-l-20" (click)="deleteAccount()" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>