@import '../../../../theme/variables.scss' ;
@import '../../../../assets/scss/custom-variables.scss';
@import '../../../../assets/scss/dlvr-ui-kit.scss';
@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';
.dlvr-progress-track  {
    width: 70%;
}
.dlvr-trackPackage-map-wrapper { 
    overflow: hidden;
}
.dlvr-trackPackage-content i{
    font-size: 32px;
    color: $uikit-Green-color;
}
.dlvr-trackPackage-content p{
    font-size: 12px;
    line-height: 14px; 
    text-align: center;
    letter-spacing: 0.4px;
    color: #4A4A4A; 
}
.dlvr-trackPackage-map-wrapper .dlvr-map{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0px;
    border: none;
    padding: 16px 0 0;
}
.dlvr-trackPackage-map-wrapper iframe {
    width: 100%;
}
.dlvr-trackPackage-controlBtn-wrapper {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 70px;
    left: 0;
}
.dlvr-trackPackage-controlBtn-wrapper .dlvr-uikit-btn{
    padding: 16px 26px; 
}
.dlvr-trackPackage-controlBtn-wrapper .dlvr-uikit-btn-blue.dlvr-uikit-btn-bordered{
    padding: 14px 26px;
}
.dlvr-trackPackage-controlBtn-wrapper .card.dlvr-card i{
//    font-size: 34px;
   color: $light-color2;
}
.dlvr-trackPackage-controlBtn-wrapper p{
    margin: 0;
    text-transform: uppercase;
    color: $light-color2; 
} 
.dlvr-trackPackage-controlBtn-wrapper i{
    color: $light-color2; 
}


/*NEW*/
.header-wrapper {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 18px 6px 8px 6px;
    position: fixed;
    width: 100%;
}
.header{
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 8px;
}
.header .name .title{
    margin: 0;
    font-weight: 600;
}
.header .name a{
    font-size: 13px;
}
.dlvr-contact-costomer-btn-wrapper{
    text-align: right;
    margin-top: 4px;
}
.dlvr-contact-costomer-btn-wrapper .call,
.dlvr-contact-costomer-btn-wrapper .chat,
.dlvr-contact-costomer-btn-wrapper .help{
    border-radius: 50%;
    padding: 20px 10px 6px 10px;
    color: #fff;
    cursor: pointer;
}
.dlvr-contact-costomer-btn-wrapper .call{
    background-color: #0b9612;
}
.dlvr-contact-costomer-btn-wrapper .chat{
    background-color: #266ae8;
    margin-right: 8px;
    margin-left: 8px;
}
.dlvr-contact-costomer-btn-wrapper .help{
    background-color: #e4921d;
}

.dlvr-order-confirmed-block .collection{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}
.dlvr-order-confirmed-block .collection .collection-item{
    background: none;
    min-height: auto;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar{
    padding-left: 38px;
    padding-bottom: 0;
}
.dlvr-order-confirmed-block .collection .collection-item p i{
    font-size: 16px;
}
.dlvr-order-confirmed-block .collection .collection-item p b{
    vertical-align: middle;
    font-size: 13px;
}
.dlvr-order-confirmed-block .secondary-content{
    top: -32px;
    position: absolute;
    right: 12px;
}
.dlvr-order-confirmed-block .secondary-content i{
    font-size: 60px;
    color: #e26d0e;
    margin-top: 22px;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar:not(.circle-clipper) > .circle{
    width: 20px;
    height: unset;
    left: 10px;
    border-radius: 0;
    overflow: hidden;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar:not(.circle-clipper) > .circle img{
    width: 100%;
    background-size: cover;
}
.dlvr-order-confirmed-block .title{
    font-size: 12px;
    margin: 0;
    font-weight: 500;
    margin-top: -3px;
    color: #bacdce;
}
.dlvr-order-confirmed-block .text{
    font-size: 14px;
    font-weight: 600;
    margin-top: -3px;
    color: #404040;
}
.dlvr-get-started-btn{
    color: #fff;
    background-color: #3a9e54;
    width: 100%;
    padding: 12px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.dlvr-instruction-modal .dlvr-order-confirmed-block .collection .collection-item.avatar{
    padding: 0;
}
.dlvr-instruction-modal .dlvr-order-confirmed-block .collection .collection-item .title{
    color: #4A4A4A;
}
.dlvr-instruction-modal.help .dlvr-order-confirmed-block .collection .collection-item .text{
    font-weight: 400;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 18px;
}
.dlvr-instruction-modal.help .dlvr-order-confirmed-block .collection .collection-item .title{
    font-size: 16px;
    margin-bottom: 8px;
    color: #42598e;
}
.dlvr-instruction-modal.otp .img-wrapper{
    text-align: center;
}
.dlvr-instruction-modal.otp .img-wrapper img{ 
    max-width: 48px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.dlvr-instruction-modal.otp .dlvr-order-confirmed-block .collection .collection-item .text{
    font-weight: normal;
}
.dlvr-instruction-modal.otp .otp{
    font-size: 18px;
    color: #111;
    font-weight: 700;
    margin: 10px 0;
    padding: 14px;
    background-color: #e9f0f2;
    border-radius: 6px;
    letter-spacing: 2px;
    text-align: center;
}
@media(min-width: 1025px){
   
}

@media (max-width: 600px){
    .dlvr-uikit-btn.verify{
        margin-top: 0 !important;
    }
}
