@import '../../../../theme/variables.scss' ;
@import '../../../../assets/scss/custom-variables.scss';
@import '../../../../assets/scss/dlvr-ui-kit.scss';
@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';
.dlvr-consumer-wrapper{
    margin-bottom: 100%;
    // overflow-y: auto;
    // overflow-x: hidden;
}

.absolute{
    position: absolute;
    z-index: 3;
}
.dlvr-add-job-btn {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 12;
}
.dlvr-add-job-btn button{
    background: $primary-gradient-color;
}
.dlvr-job-list .card {
    border-radius: 10px;
}
.dlvr-job-list .card .card-title,
.dlvr-job-list .card .card-title i
{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    vertical-align: bottom;
    line-height: 1.3;
}
.dlvr-job-list .card .card-title i {
    font-weight: 500;
}
.dlvr-job-list .card .card-content{
    border-left: 4px solid;
    border-radius: 10px;
    padding: 14px;
}

.dlvr-job-list .card .card-content.dlvr-card-red {
    border-color: $error-color;
}
.dlvr-job-list .card .card-content.dlvr-card-blue{
    border-color: $primary-color;
}
.dlvr-job-list .card .card-content .dlvr-btn { 
    margin-top: 10px;
}
.dlvr-jobList-item p {
    margin-top: 10px;
}
.dlvr-jobList-item p,
.dlvr-jobList-item i{
    color: $light-color2;
}
.dlvr-jobList-amount p {
    margin: 20px 0 10px;
    font-weight: 600;
    color: $light-color2;
}
.dlvr-set-label {
    position: absolute;
    right: 16px;
    top: 0;
}
.dlvr-set-label .dlvr-label {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.dlvr-jobPost-noPost {
    text-align: center;
    color: $light-color2;
    margin-bottom: 40%;
    position: absolute;
    bottom: 10%;
}
.dlvr-addNewJob-toolTip {
    margin-bottom: 10px;
    text-align: center;
    background: rgba(0, 0, 0, .61);
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    max-width: 180px;
    position: fixed;
    bottom: 58px;
    right: 100px;
    z-index: 12;
}
.dlvr-addNewJob-toolTip::after {
    content: "\f0da"; 
    font-family: 'FontAwesome';
    font-size: 30px;
    position: absolute;
    right: -10px;
    top: -2px;
    color: rgba(0, 0, 0, .61);
}
.dlvr-job-filter i{
    background-color: #fff;
    padding: 3px; 
    margin-bottom: 16px;
    float: right;
    margin-right: 8px;
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.06), 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}
.dlvr-job-filter{
    position: absolute;
    left: 80%;  
    bottom: 75%;
    z-index: 3;
}
.dlvr-modal .modal{ 
    padding: 0 20px;
    width: 80%;
    margin-left: 4%;
}
.dlvr-modal .modal .modal-footer{
    margin-top: 36px;
}
.dlvr-modal-btn-wrapper {
    text-align: center;
}
.dlvr-modal-btn-wrapper button{
    display: block; 
    margin: 0 auto;
    margin-top: 12px;
    min-width: 30%;
}
.dlvr-modal .modal.bottom-sheet {
    min-height: 300px; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.dlvr-forgetPassword-modal input{
    text-align: center; 
}
.dlvr-forgetPassword-modal input[type=range] + .thumb{ 
    background-color: red !important;
}
.dlvr-modal .dlvr-uikit-checkbox { 
    margin-right: 16px;
}
.dlvr-modal .dlvr-uikit-checkbox span{
    font-size: 19px;
}



/*NEW*/
.dlvr-job-card-new{

}
.dlvr-order-confirmed-block{ 
    background-color: #f3f8f9;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-top: 20px;
    padding: 17px 0 0; 
    text-align: center;    
    // position: absolute;
    bottom: -6px;
    box-shadow: 0px 0 4px rgba(0, 0, 0, .2);
}
.dlvr-order-confirmed-block h3,
.dlvr-order-confirmed-block i{
    color: #0b9612;
}
.dlvr-order-confirmed-block .title{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
}
.dlvr-order-confirmed-block .title .amount{
    font-size: 19px;
    font-weight: 700;
    float: right;
}
.dlvr-order-confirmed-block .content{
    margin-top: 8px;
    font-weight: 600;
    color: #313131;
}
.dlvr-order-confirmed-block .collection{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}
.dlvr-order-confirmed-block .collection .collection-item{
    background: none;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar{
    padding-left: 98px;
}
.dlvr-order-confirmed-block .collection .collection-item p i{
    font-size: 16px;
}
.dlvr-order-confirmed-block .collection .collection-item p b{
    vertical-align: middle;
    font-size: 13px;
}
.dlvr-order-confirmed-block .secondary-content{
    top: -32px;
    position: absolute;
    right: 12px;
}
.dlvr-order-confirmed-block .secondary-content i{
    font-size: 60px;
    color: #e26d0e;
    margin-top: 22px;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar:not(.circle-clipper) > .circle{
    width: 62px;
    height: 62px;
    left: 22px;
    border-radius: 50%;
    overflow: hidden;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar:not(.circle-clipper) > .circle img{
    width: 100%;
    background-size: cover;
}
.dlvr-job-card-new { 
    box-shadow: 0px 0 4px rgba(0, 0, 0, 0.2);    
    border-radius: 6px;
}
.dlvr-job-card-new .dlvr-order-confirmed-block{
    box-shadow: none;
}
.dlvr-job-card-new .dlvr-order-confirmed-block .location{
    text-align: left;
    margin: 0 32px 16px 32px;
    background-color: #fff;
    border-radius: 6px;
    padding-left: 18px;
    position: relative;
}
.dlvr-job-card-new .dlvr-order-confirmed-block .location .location-img{
    position: absolute;
    left: 14px;
    top: 15px;
    width: 13px;
}
.dlvr-job-card-new .accept-btn{
    background-color: #3a9e54;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding: 14px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
}
.dlvr-job-address{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}