@import '../../../../theme/variables.scss' ;
@import '../../../../assets/scss/custom-variables.scss';
@import '../../../../assets/scss/dlvr-ui-kit.scss';
@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';
.dlvr-progress-track  {
    width: 70%;
}
.dlvr-trackPackage-map-wrapper {
    margin-top: 44px;
    overflow: hidden;
}
.dlvr-trackPackage-content i{
    font-size: 14px;
    color: $uikit-Blue-color;
    vertical-align: middle;
}
.dlvr-trackPackage-content p{
    font-size: 12px;
    line-height: 14px; 
    text-align: center;
    letter-spacing: 0.4px;
    color: #4A4A4A; 
    vertical-align: middle;
}
.dlvr-trackPackage-map-wrapper .dlvr-map{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 75%;
    top: 0px;
    left: 0px;
    border: none;
    padding: 56px 0 0;
}
.dlvr-trackPackage-map-wrapper iframe {
    width: 100%;
}
.dlvr-trackPackage-controlBtn-wrapper {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 70px;
    left: 0;
}
.dlvr-trackPackage-controlBtn-wrapper .dlvr-uikit-btn{
    padding: 16px 26px; 
}
.dlvr-trackPackage-controlBtn-wrapper .dlvr-uikit-btn-blue.dlvr-uikit-btn-bordered{
    padding: 14px 26px;
}
.dlvr-trackPackage-controlBtn-wrapper .card.dlvr-card i{
//    font-size: 34px;
   color: $light-color2;
}
.dlvr-trackPackage-controlBtn-wrapper p{
    margin: 0;
    text-transform: uppercase;
    color: $light-color2; 
} 
.dlvr-trackPackage-controlBtn-wrapper i{
    color: $light-color2; 
}
.dlvr-trackPackage-screen-wrapper { 
    background: #4476d3; /* Old browsers */
    background: -moz-linear-gradient(top, #4476d3 0%, #589bde 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4476d3 0%,#589bde 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4476d3 0%,#589bde 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4476d3', endColorstr='#589bde',GradientType=0 ); /* IE6-9 */
    padding-bottom: 16px;
    height: 100vh;
    z-index: -1;
}
.dlvr-order-confirmed-block{
    width: 100%;
}
.dlvr-os-list{
    margin-top: 16px;
}
.dlvr-os-list .title,
.dlvr-os-list .content{
    color:rgba(255,255,255,.5);
    font-size: 13px;
    margin: 0;
}
.dlvr-os-list .content{
    color: #fff;
    font-weight: 600;
}
.dlvr-having-trouble-popup .modal.bottom-sheet{
    max-height: 65%;
    min-height: 245px;
}
.dlvr-having-trouble-popup .modal .modal-footer{
    padding: 0;
}
.dlvr-order-confirmed-block{ 
    background-color: #fff;
    overflow: hidden;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    margin-top: 20px;
    padding: 17px 0 0; 
    text-align: center;    
    position: absolute;
    bottom: -6px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, .2);
}
.dlvr-order-confirmed-block h3,
.dlvr-order-confirmed-block i{
    color: #0b9612;
}
.dlvr-order-confirmed-block .title{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
}
.dlvr-order-confirmed-block .content{
    margin-top: 8px;
    font-weight: 600;
    color: #313131;
}
.dlvr-order-confirmed-block .collection{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar{
    padding-left: 98px;
}
.dlvr-order-confirmed-block .collection .collection-item p i{
    font-size: 17px;
}
.dlvr-order-confirmed-block .collection .collection-item p b{
    vertical-align: middle;
}
.dlvr-order-confirmed-block .secondary-content{
    top: -32px;
    position: absolute;
    right: 12px;
}
.dlvr-order-confirmed-block .secondary-content i{
    font-size: 60px;
    color: #e26d0e;
    margin-top: 22px;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar:not(.circle-clipper) > .circle{
    width: 62px;
    height: 62px;
    left: 22px;
    border-radius: 20px;
    overflow: hidden;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar:not(.circle-clipper) > .circle img{
    width: 100%;
    background-size: cover;
}
.dlvr-btn{
    border-radius: 50px !important;
    width: 100%;
    background-color: transparent;
    border-width: 2px;
}
.dlvr-btn i{
    vertical-align: middle;
    font-size: 18px;
}
.dlvr-btn.green-btn{
    border: 2px solid #0b9612;
    padding: 10px 50px;
    width: 100%;
    color: #0b9612;
}
.dlvr-btn.green-btn i{
    color: #0b9612;
} 
.dlvr-btn.blue-btn{
    border-color: #4476d3;
    color: #4476d3;
}
.dlvr-btn.blue-btn i{
    color: #4476d3;
}
.dlvr-otp{
    text-align: center;
}
.dlvr-otp .otp{
    background-color: #f3ec7e;
    padding: 8px 24px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
.dlvr-new-progress .progress{
    height: 10px;
    max-width: 100%;
}
.dlvr-new-progress .progress .progress-bar:after{
    top: -20px;
    right: 0px;
    background-size: 36px;
    width: 40px;
    height: 30px;
}
.dlvr-progressBar{
    margin-top: 15px;
    margin-bottom: 15px;
}
.dlvr-progress-track{
    display: none;
}
.dlvr-progress-step:before{
    content: "\f00c";
    width: 15px;
    height: 15px;
    border: 3px solid #a5aeb5;
    background-color: #a5aeb5;
    margin-bottom: 5px;
    font-size: 7px;
}
.dlvr-progress-step.is-complete:before{
    background-color: #0b9612;
    border-color: #0b9612;
}
.dlvr-progress-step.is-complete:after{
    background: none;
}
.overflow-y{
    overflow-y: auto;
}

.absolute{
    position: relative;
    top: 480px;
    right: 10px;
}

@media (max-width: 375px){
    .dlvr-order-confirmed-block{ 
        bottom: -48px;  
    }
}
@media(min-width: 1025px){
   
}