<app-header [headerTitle]="'My Vehicle'" [showBackButton]="true"></app-header>
<div class="dlvr-consumer-wrapper">
    <div class="container">
        <form class="dlvr-postJob-step1" [formGroup]="vehicleForm"> 
                <p class="tittle">Enter your vehicle details</p> 
                <div class="dlvr-input-text-options">
                    <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" 
                        placeholder="Vehical Registration Number" formControlName="vehicleNumber">                
                  </div> 
                <div class="row">
                    <div class="input-field m-0">
                        <ion-select class="dlvr-driver-select" placeholder="Vehicle Type" (click)="getSelected()" formControlName="vehicleType">
                            <ion-select-option value="sedan">Sedan</ion-select-option>
                            <ion-select-option value="suv">SUV</ion-select-option>
                            <ion-select-option value="truck">Truck</ion-select-option>
                        </ion-select>
                      </div>
                </div> 
                <div class="row"> 
                    <ul class="collection dlvr-instruction"> 
                        <input type="file" accept=".jpg,.jpeg,.png" style="display: none;" #fileupload
                                (change)="processFile($event)" formControlName="driver_licence">
                        <li class="collection-item avatar" (click)="openFilePicker()">
                            <i class="material-icons-outlined circle">speaker_notes</i>
                            <span class="title">Upload Drivers License</span>  
                        </li> 
                    </ul> 
                </div> 
                <div class="dlvr-profile-img-wrapper" *ngIf="vehicleForm.get('licensePhoto')?.value?.documentURL">
                    <div class="card dlvr-card">
                        <img src="{{vehicleForm.get('licensePhoto')?.value?.documentURL}}" />
                    </div>
                </div>  
                <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-green m-t-20 verify"
                type="button" (click)="submitVehicleInfo()">Next</button> 
            
        </form>
    </div>
    <div id='vouched-element' style="height: 30%" [hidden]="licenseVerified"></div>
</div>


        <!-- <form [formGroup]="vehicleForm">
            <div>
                Enter Your Full Name:
                **enter same name written in your driving license**
                <input type="text" formControlName="fullName">
            </div>
            <div>
                Enter Your Vehicle Number:
                <input type="text" formControlName="vehicleNumber">
            </div>
            <div>
                Upload your driving license:
                <input type="file" accept=".jpg,.jpeg,.png"
                (change)="processFile($event)">
            </div>
            <div class="dlvr-profile-img-wrapper">
                <div class="card dlvr-card">
                    <img src="{{vehicleForm.get('licensePhoto')?.value?.documentURL}}" />
                </div>
            </div>
            <div class="dlvr-modal-btn-wrapper">  
                <button class="dlvr-uikit-btn dlvr-uikit-btn-rounded dlvr-uikit-btn-green" (click)="submitVehicleInfo()" [disabled]="vehicleForm.get('vehicleNumber').invalid && vehicleForm.get('fullName').invalid && vehicleForm.get('licensePhoto').invalid">Submit</button>
            </div>
        </form>  -->