@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';
@import '../../../../assets/scss/dlvr-ui-kit.scss';
.dlvr-consumer-wrapper{
    padding: 0 30px;
    margin-bottom: 500px;
}
.dlvr-consumer-wrapper .title{
    font-size: 22px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.dlvr-title-subtext{
    color: rgb(20, 20, 20);

}
.dlvr-uikit-input{
    letter-spacing: normal !important; 
    font-weight: 700;
    color: #414141 !important;
}
.dlvr-instruction{
    margin: 8px 0 0 0;
    border: none;
}
.dlvr-instruction .collection-item.avatar{
    background-color: #eff3f7;
    border-radius: 8px;
    color: #484848;
    padding-left: 54px; 
    min-height: 30px;
}
.collection.dlvr-instruction .collection-item.avatar:not(.circle-clipper) > .circle{
    width: 20px;
    background: none;
    color: #484848;
    
}  
.collection.dlvr-instruction .collection-item.avatar .title{
    font-size: 16px;
    font-weight: 700; 
    vertical-align: middle;
    line-height: 35px;
}  
.collection.dlvr-instruction .collection-item.avatar p{
    margin-bottom: 0;
}
// @media (max-width: 500px){
    .dlvr-uikit-btn.verify{
        position: fixed;
        left: 50%;
        bottom: 20px;
        width: 90% !important;
        transform: translate(-50%, 0);
    }
// }    
.tittle{
    font-weight: bold;
    margin-top:25px;
    font-size:23px;

    
}
