<div class="dlvr-login-wrapper">
  <div class="row">
    <div class="col s12">
      <!-- <div class="card">
        <div class="card-content white-text"> -->
          <div class="dlvr-login-header">
            <div class="row">
              <div class="col s12">
                <div class="dlvr-logo-wrapper">
                  <img src="assets/images/logo.png" alt="logo" />
                </div> 
              </div>
              <div class="col s12">
                <h2>Login</h2>
              </div>
            </div> 
          </div>
          <form [formGroup]="loginForm">
            <div class="dlvr-input-text-options input-field">
              <img src="assets/images/user_icon.png" alt="user_icon" class="prefix">
              <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Email Address" formControlName="email">
              <!-- <span class="dlvr-input-i"><i class="icon-phone"></i></span> -->
            </div> 
            <p class="errorMessage" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Please enter valid Email.</p>
            <div class="input-field">
              <img src="assets/images/password_icon.png" alt="password_icon" class="prefix">
              <input type="password" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Password" formControlName="password">
            </div>
            <p class="errorMessage" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter password.</p>
            <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue"  type="button"  (click)="onLogin()" [disabled]="!loginForm.valid">Log in</button>
            <div class="dlvr-forgot-password">
              <a (click)="goToForgotPassword()">Forgot Password?</a>
            </div>
          </form>
          <!-- <div class="dlvr-login-divider">
            <p>Log in with</p>
          </div> -->

          <div class="row p-l-10 p-r-10 center">
            <div class="col s6">
              <button class="dlvr-connect-with google row" type="button" (click)="signInWithGoogle()">
                <div class="col s2 p-1">
                  <img src="assets/images/google_icon.png" alt="google_icon" class="circle responsive-img">
                </div>
                <div class="col s10"> 
                    <span class="small">Continue with</span>
                    <p>Google</p>   
                </div> 
              </button>
            </div>
            <div class="col s6">
              <button class="dlvr-connect-with facebook row" (click)="signInWithFB()">
                <div class="col s2 p-1">
                  <img src="assets/images/facebook_icon.png" alt="facebook_icon" class="circle responsive-img">
                </div>
                <div class="col s10"> 
                    <span class="small">Continue with</span>
                    <p>Facebook</p>   
                </div> 
              </button>
            </div>
          </div>

          <!-- <div class="dlvr-register-btn-wrapper">
            <button class="waves-effect waves-ripple btn btn-full-width btn-large dlvr-btn dlvr-white-btn m-b-5"  type="button" (click)="signInWithGoogle()">
              <img src="assets/images/google.svg" alt="google"/> 
              Connect with Google
            </button> -->
            <!-- <button class="waves-effect waves-light btn btn-full-width btn-large dlvr-btn dlvr-primary-btn m-t-10"  type="button" >Connect with Facebook</button> -->
          <!-- </div> -->
          <div class="dlvr-login-footer">
            <p>By Signing in you accepts the Terms of Services and Privacy Policy</p>
            <a class="center" (click)="goToSignUp()" class="pointer-cursor dlvr-uikit-btn dlvr-uikit-btn-green btn-full-width">Signup</a> 
          </div>
        <!-- </div> 
      </div>  -->
    </div>
  </div>
</div>


<!--  
<form [formGroup]="loginForm">
  <div>
    <label>Country Code</label>
    <input type="tel" formControlName="countryCode">
    <label>Mobile:</label>
    <input type="tel" formControlName="mobile">
    <p class="errorMessage" *ngIf="!loginForm.get('mobile').valid && loginForm.get('mobile').touched">enter valid mobile
    </p>
    <br><br>
  </div>
  <br>
  <div>
    <label>Password:</label>
    <input type="password" formControlName="password">
    <p class="errorMessage" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter
      password.</p>
  </div>
  <br>
  <button (click)="onLogin()" [disabled]="!loginForm.valid">Login AS {{ userRole }}</button>
</form>

<div>
  <button type="button" (click)="signInWithFB()" *ngIf="loggedIn===false" mat-flat-button color="primary">Sign In With Facebook</button>
  <button type="button" (click)="signInWithGoogle()" *ngIf="loggedIn===false" mat-flat-button color="primary">Sign In With Google plus</button>
  <button type="button" (click)="signOut()" *ngIf="loggedIn===true" mat-flat-button color="primary">Sign Out From Facebook</button>
</div>

<p *ngIf="loginSuccessful">Your Login is successful.</p> -->