@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';
@import '../../../../assets/scss/dlvr-ui-kit.scss';
#map {
  width: 100%;
  height: calc(100vh - 160px);
  overflow: hidden;
}

.map-container {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

.apply-button {
  font-family: "Roboto";
  font-weight: 700;
  height: 42px;
}

strong {
  font-weight: 700;
  font-size: 21px;
  font-family: "Roboto";
  color: #000000;
}

.searchbox {
  border-bottom: unset;
  background-color: rgba(0,0,0,0.12) !important;
  /* margin: 5px !important; */
  padding: 2px 0px !important;
  /* width: 100% !important; */
  border-radius: 25px !important;
  height: 40px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  width: calc(100% - 40px) !important;
}

.center{
  margin-left: 80px;
}