<app-header [headerTitle]="'Wallet'" [showBackButton]="true"></app-header>
<!-- Gray Box -->
<div>
  <div class="row wallet-tab-wrapper">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a [ngClass]="{'active' : todayTab }" (click)="changeRecordsType('today')">Today</a></li>
        <li class="tab col s3 middle"><a [ngClass]="{'active' : weeklyTab }" (click)="changeRecordsType('weekly')">Weekly</a></li>
        <li class="tab col s4"><a [ngClass]="{'active' : monthlyTab }" (click)="changeRecordsType('monthly')">Monthly</a></li>
        <li class="tab col s3 middle"><a [ngClass]="{'active' : yearlyTab }" (click)="changeRecordsType('yearly')">Yearly</a></li>
      </ul>
    </div>
  </div>
  <div class="row m-t-20">
    <div class="col s7">
      <h4 class="text-muted m-0">Total Earning</h4>
    </div>
    <div class="col s5 text-right">
      <!-- <h3 class="m-0 float-left">Total Earning</h3> -->
      <h4 class="m-0 float-right"> ${{totalEarning}}</h4>
    </div>
  </div>
  <hr class="m-l-20 m-r-20">
</div>

<!--  Tab View -->
<ion-content>
<div class="container m-t-5 p-0">
  <!-- <h3 class="text-muted m-0">Wallet History</h3>  -->
  <div class="row wallet-tab-wrapper">
    <!-- <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#test1"(click)="changeRecordsType('all')">All</a></li>
            <li class="tab col s3 middle"><a href="#test2" (click)="changeRecordsType('active')">Added</a></li>
            <li class="tab col s3"><a href="#test3"(click)="changeRecordsType('paid')">Deducted</a></li>
          </ul>
        </div> -->
    <div id="test1" class="col s12 p-0">
      <ul class="collection">
        <div class="col s12 p-0">
          <table>
            <tr>
              <th style="background-color: #f0c90b; color: #fff; text-align: center;">Time</th>
              <th style="background-color: #fa8408; color: #fff; text-align: center;">Distance</th>
              <th style="background-color: #e52006; color: #fff; text-align: center;">Amount</th>
            </tr>
            <tr *ngFor="let earning of earningsData">
              <td style="background-color: #fdf3bd; color: #000; text-align: center;">{{earning.time_taken}}</td>
              <td style="background-color: #f9dfc4; color: #000; text-align: center;">{{earning.distance}}</td>
              <td style="background-color: #f0d5d0; color: #000; text-align: center;">{{earning.amount}}</td>
            </tr>
          </table>
        </div>
      </ul>
    </div>
    <div id="test2" class="col s12 p-0">
      <ul class="collection">
        <div class="col s12 p-0">
          <table>
            <tr>
              <th style="background-color: #f0c90b; color: #fff; text-align: center;">Time</th>
              <th style="background-color: #fa8408; color: #fff; text-align: center;">Distance</th>
              <th style="background-color: #e52006; color: #fff; text-align: center;">Amount</th>
            </tr>
            <tr *ngFor="let earning of earningsData">
              <td style="background-color: #fdf3bd; color: #000; text-align: center;">{{earning.time_taken}}</td>
              <td style="background-color: #f9dfc4; color: #000; text-align: center;">{{earning.distance}}</td>
              <td style="background-color: #f0d5d0; color: #000; text-align: center;">{{earning.amount}}</td>
            </tr>
          </table>
        </div>
      </ul>
    </div>
    <div id="test3" class="col s12 p-0">
      <ul class="collection">
        <div class="col s12 p-0">
          <table>
            <tr>
              <th style="background-color: #f0c90b; color: #fff; text-align: center;">Time</th>
              <th style="background-color: #fa8408; color: #fff; text-align: center;">Distance</th>
              <th style="background-color: #e52006; color: #fff; text-align: center;">Amount</th>
            </tr>
            <tr *ngFor="let earning of earningsData">
              <td style="background-color: #fdf3bd; color: #000; text-align: center;">{{earning.time_taken}}</td>
              <td style="background-color: #f9dfc4; color: #000; text-align: center;">{{earning.distance}}</td>
              <td style="background-color: #f0d5d0; color: #000; text-align: center;">{{earning.amount}}</td>
            </tr>
          </table>
        </div>
      </ul>
    </div>
    <div id="test4" class="col s12 p-0">
      <ul class="collection">
        <div class="col s12 p-0">
          <table>
            <tr>
              <th style="background-color: #f0c90b; color: #fff; text-align: center;">Time</th>
              <th style="background-color: #fa8408; color: #fff; text-align: center;">Distance</th>
              <th style="background-color: #e52006; color: #fff; text-align: center;">Amount</th>
            </tr>
            <tr *ngFor="let earning of earningsData">
              <td style="background-color: #fdf3bd; color: #000; text-align: center;">{{earning.time_taken}}</td>
              <td style="background-color: #f9dfc4; color: #000; text-align: center;">{{earning.distance}}</td>
              <td style="background-color: #f0d5d0; color: #000; text-align: center;">{{earning.amount}}</td>
            </tr>
          </table>
        </div>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s6 p-l-30">
      <span>Complete Jobs</span>
    </div>
    <div class="col s6 p-l-30">
      <span>My Profile Rating</span>
    </div>
  </div>
  <div class="row">
    <div class="col s6 p-l-30">
      <b>{{completed_job}}</b>
    </div>
    <div class="col s6 p-l-30">
      <i class="material-icons-round">star</i>
      <b>{{ratings}}</b>
    </div>
  </div>
</div>
</ion-content>