<app-header [headerTitle]="'Order History'" [showBackButton]="true"></app-header>
<!-- <div class="dlvr-consumer-wrapper"> -->
<!-- <div class="dlvr-add-job-btn">
        <div class="dlvr-addNewJob-toolTip">Add New Order</div>
        <button class="btn-floating btn-large dlvr-uikit-btn-blue" (click)="postNewJob()"><i
                class="material-icons f-s-25">add</i></button>
    </div> -->
<!-- <div class="dlvr-job-list">
        <div class="container"> -->
<!-- <div class="row">
                
                <ul class="tabs consumer-tabs">
                    <li class="tab col s6"><a [ngClass]=" tab == 'Active' ? 'active' : ''" (click)="changeTab('Active')">Active</a></li>
                    <li class="tab col s6"><a [ngClass]=" tab == 'Completed' ? 'active' : ''" (click)="changeTab('Completed')">Completed</a></li>
                  </ul>
            </div>
            <br> -->
<!-- <div class="row" *ngIf="jobsList?.length > 0">
                <div *ngFor="let jobs of jobsList; let i=index"> -->
<!-- For Completed Jobs -->
<!-- <div class="col s12 l6" *ngIf="jobs.status == 'Delivered'">
                        <div class="dlvr-uikit-card dlvr-uikit-card-stripe-left m-b-10" 
                             data-aos="fade-up"
                             [ngClass]="jobs.jobLabel =='Immediate' ? 'dlvr-uikit-card-stripe-red' : 'dlvr-uikit-card-stripe-blue'">
                            <label class="dlvr-uikit-badge"
                                [ngClass]=" jobs.jobLabel =='Immediate' ? 'dlvr-uikit-badge-red' : 'dlvr-uikit-badge-blue' ">
                            <i class="fa fa-circle"></i> {{ jobs.jobLabel }}
                            </label>
                            <label class="dlvr-uikit-badge dlvr-uikit-badge-boxed dlvr-uikit-badge-blue" *ngIf="jobs.status == 'Delivered'">
                                {{ jobs.status }}
                            </label>
                            <div class="dlvr-uikit-card-body">
                                <h3 class="m-t-0">Order</h3>
                                <p class="dlvr-uikit-card-text">
                                    <i class="material-icons-outlined">place</i> {{ jobs.sourceAddress }}
                                </p>
                                <p class="dlvr-uikit-card-text">
                                    <i class="material-icons-outlined">home</i> {{ jobs.destinationAddress }}
                                </p>  
                            </div>
                            <div class="dlvr-uikit-card-footer">
                                <p class="left">Amount: ${{ jobs.amount }}</p> -->
<!-- <button *ngIf="jobs.driverHired" 
                                    class="dlvr-uikit-btn dlvr-uikit-btn-small dlvr-uikit-btn-rounded dlvr-uikit-btn-blue right"
                                    type="button" (click)="goToTrackDriver(jobs)">
                                Track</button>
                                <button *ngIf="jobs.driverHired" 
                                    class="dlvr-uikit-btn dlvr-uikit-btn-small dlvr-uikit-btn-rounded dlvr-uikit-btn-blue right"
                                    type="button" (click)="cancelDriver(jobs)">
                                Cancel Driver</button> -->

<!-- <button *ngIf="jobs?.status == 'Received'" data-target="modal2"
                                    (click)="openModal('modal2', jobs.id)"
                                    class="dlvr-uikit-btn dlvr-uikit-btn-small dlvr-uikit-btn-rounded dlvr-uikit-btn-blue right"
                                    type="button">
                                    Delivered</button> -->
<!-- </div> -->
<!-- <div class="right-align" *ngIf="!jobs.driverHired">
                                <div>
                                    <div class="left">
                                        <span>Waiting for Driver.</span>
                                        <span class="dlvr-preloaderLight m-t-10 m-l-10 right">
                                            <div class="circ1"></div>
                                            <div class="circ2"></div>
                                            <div class="circ3"></div>
                                        </span>  
                                    </div>
                                    <div class="right">
                                        <i class="material-icons-outlined dlvr-cancel-job" (click)="cancelJob(jobs, i)">delete</i>
                                    </div>
                                </div> 
                            </div>  -->
<!-- </div>
                    </div>
                </div>
                
            </div>
            <div class="row" *ngIf="jobsList?.length == 0">
                <div class="col s12">
                    <div class="dlvr-jobPost-noPost" data-aos="fade-up">
                        <i class="fa fa-archive fa-5x"></i>
                        <h3>You didn't any delivered order yet.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  -->

<!-- New Design Code -->
<div class="overflow">
<div class="dlvr-consumer-wrapper">
    <div class="dlvr-job-list">
        <div class="container">
            <div class="row" *ngIf="jobsList?.length > 0">
                <div *ngFor="let jobs of jobsList; let i=index">
                    <div class="col s12 l6" *ngIf="jobs.status == 'Delivered'">
                        <div class="dlvr-job-card-new" data-aos="fade-up">
                            <div class="dlvr-order-confirmed-block">
                                <ul class="collection left-align">
                                    <li class="collection-item avatar">
                                        <label class="dlvr-uikit-badge" [ngClass]=" jobs.jobLabel =='Immediate' ? 'dlvr-uikit-badge-red' : 'dlvr-uikit-badge-blue' ">
                                            <i class="fa fa-circle"></i> {{ jobs.jobLabel }}
                                        </label> <br>
                                        <label class="dlvr-uikit-badge" class="dlvr-uikit-badge-blue">
                                            <i class="fa fa-circle"></i> Delivered
                                        </label>
                                        <span class="amount">${{ jobs.amount }}</span>
                                    </li>
                                </ul>
                                <div class="location">
                                    <ul class="collection">
                                        <li class="collection-item">{{ jobs.sourceAddress }}</li>
                                        <li class="collection-item">{{ jobs.destinationAddress }}</li>
                                    </ul>
                                    <img src="../../../../assets/images/inner-location.png" alt="location pin" class="location-img">
                                </div>
                            </div>
                            <!-- <div class="accept-btn dlvr-uikit-btn-blue btn.disabled" type="button">
                                Delivered
                            </div> -->
                            <div class="accept-btn dlvr-uikit-btn-blue btn.disabled" type="button" (click)="goForRating(jobs)" *ngIf="!jobs.clientReviewed">
                                Ratings & Review
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="jobsList?.length == 0">
                <div class="col s12">
                    <div class="dlvr-jobPost-noPost" data-aos="fade-up">
                        <i class="fa fa-archive fa-5x"></i>
                        <h3>You didn't any delivered order yet.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>