@import '../../../../theme/variables.scss' ;
@import '../../../../assets/scss/custom-variables.scss';
@import '../../../../assets/scss/dlvr-ui-kit.scss';
@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';

.dlvr-add-job-btn {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 12;
}
.dlvr-add-job-btn button{
    background: $primary-gradient-color;
}

.overflow-y{
    overflow-y: auto;
    overflow-x: hidden;
}

.dlvr-jobPost-noPost {
    text-align: center;
    color: $light-color2;
    margin-top: 60px;
}