<app-header [headerTitle]="'Report An Issue'" [showBackButton]="true"></app-header>
<ion-content>
    <div class="container">
        <form [formGroup]="reportForm">

            <select class="dlvr-category-options dlvr-uikit-input dlvr-uikit-input-grey">
                <option value="During a ride">During a ride</option>
                <option value="During a drive">During a drive</option>
            </select>

            <div>
                <textarea placeholder="Let us know what happen" formControlName="description" row="5" class="dlvr-uikit-input dlvr-uikit-input-grey m-b-0" style="width: 100%;"></textarea>
                <small class="text-muted">Enter description of issue you're facing</small>
            </div>

            <div class="row m-b-10">
                <div class="col s12 m12 large-add-image-block dlvr-uikit-input dlvr-uikit-input-grey m-b-0 p-t-10" style="min-height: 90px;">
                    <p><i class="fa fa-file-image-o" aria-hidden="true"></i> Attachment</p>
                    <input type="file" accept=".jpg,.jpeg,.png" (change)="processFile($event)">
                </div>
            </div>
            <!-- <div class="dlvr-profile-img-wrapper">
                <div class="card dlvr-card">
                    <img src="{{reportForm.get('attachment')?.value?.documentURL}}" />
                </div>
            </div> -->
            <div class="dlvr-modal-btn-wrapper">
                <button class="dlvr-uikit-btn dlvr-uikit-btn-blue btn-medium m-t-10" (click)="reportAnIssue()" [disabled]="reportForm.get('description').invalid">Save</button>
                <!-- <button class="dlvr-uikit-btn dlvr-uikit-btn-rounded dlvr-uikit-btn-green" (click)="reportAnIssue()" [disabled]="reportForm.get('description').invalid">Send</button> -->
            </div>
        </form>

    </div>
</ion-content>
<!-- Model Start -->


<!-- <app-footer></app-footer> -->