@import '../../../../theme/variables.scss' ;
@import '../../../../assets/scss/custom-variables.scss';
@import '../../../../assets/scss/dlvr-ui-kit.scss';
@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';
.dlvr-uikit-input{
    font-weight: 600;
    color: #484848 !important;
    letter-spacing: normal !important;
}
.dlvr-postJob-screen-wrapper{
    overflow-x: hidden;
    margin-bottom: 56px;
}
.dlvr-postJob-bg-img{
    position: absolute;
    max-width: 100%;
    top: 0;
    z-index: -1;
}
.dlvr-post-job-wrapper{
    overflow-y: auto;
    overflow-x: hidden;
}
.dlvr-postJob-step1,
.dlvr-postJob-step2,
.dlvr-postJob-step3{
    margin-top: 130px;
    overflow-y:auto;
    overflow-x: hidden;
}

.noactualbutton:disabled, noactualbutton[disabled]{
    color: white;
    opacity: 1;
    background: #b3b3b3;
}

.dlvr-postJob-step1 h2.title,
.dlvr-postJob-step2 h2.title{
    text-align: center;
    font-weight: 700;
    color: #484848;
    margin: 10px 0;
    font-size: 22px;
}
.dlvr-postJob-step1 .dlvr-map{
    z-index: -1; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    border: none;
    padding: 56px 0 0;
}
.dlvr-postJob-input-wrapper {
    text-align: center;
    margin: 10px 0;
}
.dlvr-postJob-screen-wrapper .img-wrapper{
    position: relative;
}
.dlvr-postJob-screen-wrapper.step1 .img-wrapper .icon-img,
.dlvr-postJob-screen-wrapper.step2 .img-wrapper .icon-img,
.dlvr-postJob-screen-wrapper.step3 .img-wrapper .icon-img,
.dlvr-postJob-screen-wrapper.step4 .img-wrapper .icon-img,
.dlvr-postJob-screen-wrapper.step5 .img-wrapper .icon-img{
    max-width: 65px;  
    position: absolute;
    left: 50%;
    transform: translate(-50%, 58px); 
}
.dlvr-postJob-screen-wrapper.step2 .img-wrapper .icon-img{
    max-width: 100px;  
    transform: translate(-50%, 40px); 
}
.dlvr-postJob-screen-wrapper.step3 .img-wrapper .icon-img{
    max-width: 125px;
}
.dlvr-postJob-screen-wrapper.step4 .img-wrapper .icon-img{
    max-width: 80px;
}
.dlvr-postJob-screen-wrapper.step5 .img-wrapper .icon-img{
    max-width: 54px;
    top: -20px;
}
.dlvr-postJob-input-wrapper input{
    width: 95%;
    // margin-top: 5px !important;
    box-shadow: 0px 4px 12px rgba(220, 79, 79, 0.1);
    // height: 48px;
    margin-bottom: 3px;
}
.dlvr-postJob-input-wrapper button i {
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 2px;
}
.dlvr-input-container{
    padding: 16px 16px 16px 36px;
    width: 86%;
    background-color: #e9f0f2;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}
.dlvr-input-container input{
    color: #a0b1b2;
    border-bottom-color: #a0b1b2;
    font-weight: 600;
    margin-bottom: 0;
    height: 30px;
}
.dlvr-input-container.delivery::before{
    content: "";
    position: absolute;
    // background-image: url(../../../../assets/images/address_pin.png);
    background-size: contain;
    width: 11px;
    height: 150px;
    left: 16px;
    top: -118px;
    background-repeat: no-repeat;
}
.dlvr-input-container input::placeholder,
.dlvr-input-container small{
    color: #a0b1b2;
}
.dlvr-input-container p.pickup-address,
.dlvr-input-container p.delivery-address{
    color: #26bae8;
    margin: 0;
    font-weight: 800;
}
.dlvr-input-container p.delivery-address{
    color: #224ca3; 
}
.dlvr-postJob-title,
.dlvr-postJob-content {
    display: none;
}
.dlvr-postJob-heroImg {
    margin-top: 64px;
}
.dlvr-postJob-heroImg img{
    width: 100px;
    padding: 16px;
    box-shadow: $shadow-light;    
    border-radius: 10px;
}
.modal-content.datepicker-container .datepicker-date-display{ 
    background: #333 !important;
}
.card.dlvr-category-card {
    text-align: center;
    border-radius: 10px;
    padding: 8px;   
    min-height: 90px;
}
.card.dlvr-category-card:hover {
    cursor: pointer;
}
.card.dlvr-category-card i{
    font-size: 46px;
    color: $light-color2;
}
.card.dlvr-category-card p {
    font-size: 12px;
    font-weight: 600;
    color: $light-color2;
    text-transform: uppercase;
}
.card.dlvr-category-card.active{ 
    background: $primary-gradient-color;
}
.card.dlvr-category-card.active i,
.card.dlvr-category-card.active p{
    color: $white-color;
}
.card.dlvr-category-card.waves-effect {
    display: block !important;
}
.dlvr-confirmLocation-modal .modal-content {
    padding-bottom: 0;
}
.dlvr-confirmLocation-modal .modal-content i,
.dlvr-confirmLocation-modal .modal-content b{ 
    vertical-align: middle;
}
.dlvr-confirmLocation-modal .modal-content b{
    margin-left: 6px;
}
.dlvr-confirmLocation-modal p{
    color: $light-color2;
    text-align: center;    
    margin: 0;
}
.dlvr-sourceicon-input-wrapper input.dlvr-text-input,
.dlvr-destinationicon-input-wrapper input.dlvr-text-input{
  padding-left: 40px !important; 
}
.dlvr-sourceicon-input-wrapper,
.dlvr-destinationicon-input-wrapper {
    position: relative;
} 
.dlvr-sourceicon-input-wrapper i{
    position: absolute;
    top: 22px;
    left: 20px;
    font-size: 17px;
    color: $light-color2;
}
.dlvr-destinationicon-input-wrapper i{
    position: absolute;
    top: 18px;
    left: 19px;
    font-size: 21px;
    color: $light-color2;
}
.dlvr-category-card-padding{
    padding: 0 5px 0 5px !important;
}
.dlvr-uikit-card.dlvr-uikit-icon-card{
    min-width: 100%;
    text-align: center;
    background-color: #eff3f7;
    border-radius: 8px;
    box-shadow: none;
    border: 2px solid #eff3f7;
}
.dlvr-uikit-card.dlvr-uikit-icon-card.active{
    border-color: #44c065 !important;
}
.dlvr-uikit-card.dlvr-uikit-icon-card p{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: transparent;
    color: #484848;
    margin-bottom: 10px;
    margin-top: -9px;
    text-transform: unset;
    letter-spacing: 0;
    font-size: 13px;
}
.dlvr-uikit-card.dlvr-uikit-icon-card.active p{
    color: white;
}
.dlvr-category-img{
    max-width: 60px;
    margin-top: 28px;
}
.dlvr-car-category-img{
    max-width: 94px;
    margin: 14px 0;
}
.dlvr-uikit-card.dlvr-uikit-icon-card .dlvr-car-category-title{
    text-align: left;
    vertical-align: middle;
    padding-top: 28px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}
.dlvr-radio.dlvr-radio-green{
    padding: 10px 10px 10px 0;
    background-color: #eff3f7;
    border: 2px solid #eff3f7;
    border-radius: 6px;
    box-shadow: none;
    margin-right: 0;
    width: 100%;
}
.dlvr-radio label{
    font-weight: 600;
    color: #484848;
}
.dlvr-uikit-radio.dlvr-uikit-radio-green [type=radio]:not(:checked) + span:before{
    border-color: #bfbfbf !important;
    background: #bfbfbf;
}
.dlvr-radio.dlvr-radio-green.active,
.dlvr-uikit-radio.dlvr-uikit-radio-green.active [type=radio]:not(:checked) + span:before{
    border-color: #44c065;
}
.dlvr-radio .dlvr-uikit-radio [type=radio]:checked + span:after {
    line-height: 11px;
    padding-left: 1px;
}
.dlvr-add-photos-btn{
    width: 100%;
    padding: 16px 12px;
    border: none;
    border-radius: 6px;
    background-color: #eff3f7;
    font-weight: 700;
    margin-top: 10px;
    color: #484848;
}
.dlvr-add-photos-btn i{
    vertical-align: middle;
    font-size: 18px;
}
.dlvr-instruction{
    margin-top: 18px;
    border: none;
}
.dlvr-instruction .collection-item.avatar{
    background-color: #eff3f7;
    border-radius: 8px;
    color: #484848;
    padding-left: 54px;
    min-height: auto;
}
.collection.dlvr-instruction .collection-item.avatar:not(.circle-clipper) > .circle{
    width: 20px;
    background: none;
    color: #484848;
}  
.collection.dlvr-instruction .collection-item.avatar .title{
    font-size: 14px;
    font-weight: 600;
}  
.collection.dlvr-instruction .collection-item.avatar p{
    margin-bottom: 0;
}
.dlvr-instruction-modal .modal{
    border-radius: 8px;
    height: auto;
    overflow: hidden;
    max-height: 365px;
}
.dlvr-instruction-modal .modal .modal-content{
    padding-top: 0;
}
.dlvr-instruction-modal .modal .collection-item {
    padding-left: 44px;
}
.dlvr-instruction-modal .modal .collection-item .title{
    font-size: 17px;
}
.dlvr-instruction-modal .modal .collection-item.avatar:not(.circle-clipper) > .circle{
    margin-top: -9px;
}
.dlvr-instruction-modal .modal textarea{
    min-height: 210px;
    color: #484848 !important; 
    letter-spacing: normal !important;
}
.dlvr-instruction-modal .modal-footer{
    margin-bottom: 16px;
}
.dlvr-instruction-modal .dlvr-uikit-btn{
    // min-width: 260px;  
    max-width: 90%;
    min-width: 100%;
}
.dlvr-uikit-icon-input .edit-ammount{
    position: absolute;
    right: 0;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu .eachitem {
    display: inline-block;
}

div.scrollmenu .eachitem:hover {
    background-color: #777;
}


/* Hide scrollbar for Chrome, Safari and Opera */

div.scrollmenu::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE and Edge */

div.scrollmenu {
    -ms-overflow-style: none;
}

// div.scrollmenu {
//     overflow: auto;
//     white-space: nowrap;
//     -ms-overflow-style: none;
// }
// div.scrollmenu .eachitem {
//     display: inline-block!important;
//     height: 15vh;
//     float: none;
// }
.upload-image-container {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    img {
    }
}

.image-item {
    position: relative;
    padding: 0 0.25rem;
    i.icon-close {
        position: absolute;
        color: white;
        margin: 5px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 25px;
        font-size: 1.4rem;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid #dedcde;
        
    }
}

.plus-add-image-block {
    border: 1px solid #dedcde;
    border-radius: 7px;
    padding: 0 0.25rem;
    position: relative;
    i.fa-plus {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
    }
}

.large-add-image-block {
    border: 1px solid #dedcde;
    border-radius: 7px;
    display: table !important;
    height: 15vh;
    float: none;
    p {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        color: #525053;
    }
}
div.scrollmenu .eachitem {
    display: inline-block !important;
    height: 15vh;
    float: none;
    vertical-align: middle;
}


// .image-item img {
//     width: 100%;
//     height: 100%;
//     border-radius: 10px;
//     border: 1px solid #dedcde;
// }
// .image-item i.icon-close {
//     position: absolute;
//     color: #fff;
//     margin: 5px;
//     background: rgba(0,0,0,.5);
//     border-radius: 25px;
//     font-size: 1.4rem;
// }
// .plus-add-image-block {
//     border: 1px solid #dedcde;
//     border-radius: 7px;
//     padding: 0 .25rem;
//     position: relative;
// }
// .plus-add-image-block i.fa-plus {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     font-size: 2rem;
// }


@media(min-width: 1025px){
    .dlvr-postJob-input-wrapper{ 
        padding: 2rem 1rem;
        // background: $primary-color;
        position: absolute;
        left: 40px;
        top: 150px;
        max-width: 400px;
        // box-shadow: $shadow-light;
    }
    .dlvr-postJob-input-wrapper input{
        // border-color: $light-color !important;
    }
    .dlvr-postJob-title {
        display: block;
        margin: 0;
        margin-bottom: 20px;
        // color: $white-color;
        text-align: left;
    } 
    .dlvr-postJob-content {
        display: block;
    }
}
.dlvr-modal-btn-wrapper button{
    display: block; 
    margin: 0 auto;
    margin-top: 12px;
    min-width: 290px;
}
.dlvr-modal .modal.bottom-sheet {
    min-height: 150px; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    padding-top: 40%;
  }
  ion-calendar .title{
      color: white;
      background-color:seagreen;
  }
@media (max-width: 600px){
    .dlvr-uikit-btn.verify{
        position: fixed;
        left: 50%;
        bottom: 12px;
        width: 90% !important;
        transform: translate(-50%, 0);
    }
}
@media (max-width: 425px){ 
    .dlvr-postJob-bg-img {
        top: -60px;
    }
}
@media (max-width: 375px){ 
    .dlvr-postJob-bg-img {
        top: -35px;
    }
}
@media (max-width: 360px){
    .dlvr-postJob-bg-img {
        top: -25px;
    }
}
@media (max-width: 320px){
    .dlvr-postJob-bg-img {
        top: 0;
    }
}