<app-header [headerTitle]="'Order a Delivery'" [showBackButton]="showBackButton"></app-header>
<!-- <div class="dlvr-post-job-wrapper"></div> -->
<ion-content>
    <form [formGroup]="postJobForm">
        <div class="container p-0">
            <!--PROGRESS BAR-->
            <div class="container dlvr-new-progress">
                <div class="row" data-aos="fade-down">
                  <div class="col s12"> 
                      <div class="progress">
                          <div class="progress-bar" id="truckprogress" style="width:0%; background:#26bae8; height: 4px; transition: .9s;"></div> 
                      </div> 
                  </div>
              </div>
            </div>
            <!--PROGRESS BAR END-->
            <!--STEP 1 of 5-->
            <img src="../../../../assets/images/city_background_bg.png" alt="city bg" class="dlvr-postJob-bg-img img-responsive">
            <div class="dlvr-postJob-screen-wrapper step1" *ngIf="step == 'step1'"> 
                <div class="img-wrapper">
                    <img src="../../../../assets/images/address_icon.png" alt="address_icon" class="icon-img">
                </div> 
                <div class="dlvr-postJob-step1"> 
                    <h2 class="title">Let's create your <br> delivery route</h2>
                    <div class="dlvr-input-container m-b-5 pickup">
                        <p class="pickup-address">Pickup Address</p>
                        <input type="text" placeholder="Street Address" class="mb-0" formControlName="sourceAddress" #originSearch >
                        <small>ex. 1010 Riverfront, TX 75038</small>
                        <input type="text" placeholder="Appartment/Suit#" formControlName="sourceAddressAppartment"> 
                    </div>
                    <div class="dlvr-input-container delivery">
                        <p class="delivery-address">Delivery Address</p>
                        <input type="text" placeholder="Street Address" class="mb-0" formControlName="deliveryAddress" #destinationSearch >
                        <small>ex. 1010 Riverfront, TX 75038</small>
                        <input type="text" placeholder="Appartment/Suit#" formControlName="deliveryAddressAppartment"> 
                    </div>
                    <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-30 verify noactualbutton"
                    type="button" [disabled]="postJobForm.get('sourceAddress').invalid || postJobForm.get('deliveryAddress').invalid || postJobForm.get('sourceAddressAppartment').invalid || postJobForm.get('deliveryAddressAppartment').invalid" (click)="next()">Next</button>
 
                    <!-- <agm-map [latitude]="lat" [longitude]="lng" width="600" frameborder="0" allowfullscreen=""
                        class="dlvr-map" [usePanning]="true" *ngIf="origin && destination">
                        <agm-direction [origin]="origin" [destination]="destination" *ngIf="origin && destination"
                            [renderOptions]="renderOptions" [markerOptions]="markerOptions"
                            (onResponse)="onResponse($event)">
                        </agm-direction>
                    </agm-map> -->
                    <!-- <div class="dlvr-postJob-input-wrapper" data-aos="fade-left">
                        <h2 class="dlvr-postJob-title">Where can we Pick up and Deliver your package?</h2>

                        <div class="dlvr-uikit-icon-input">
                            <i class="material-icons-outlined">pages</i>
                            <input type="text" class="dlvr-uikit-input" placeholder="Enter Pickup Address"
                                formControlName="sourceAddress" #originSearch />
                        </div>
                        <div class="dlvr-uikit-icon-input">
                            <i class="material-icons-outlined">home</i>
                            <input type="text" class="dlvr-uikit-input" placeholder="Enter Delivery Address"
                                formControlName="deliveryAddress" #destinationSearch />
                        </div>
                    </div> -->
                </div>
            </div>
            <!--STEP 1 of 5 END-->

            <!--STEP 2 of 5-->
            <div class="dlvr-postJob-screen-wrapper step2" *ngIf="step == 'step2'">
                <!-- <img src="../../../../assets/images/city_background_bg.png" alt="city bg" class="dlvr-postJob-bg-img img-responsive"> -->
                <div class="img-wrapper">
                    <img src="../../../../assets/images/package_category_icon.png" alt="package_category_icon" class="icon-img"  data-aos="zoom-in">
                </div>
                <div class="dlvr-postJob-step2">
                    <div class="container">
                        <div class="row"  data-aos="fade-left">
                            <div class="col s11 p-r-30 p-l-30"> 
                                <h2 class="title">Select a category of<br> your package</h2>
                                <div class="row">
                                    <div class="col s4 dlvr-category-card-padding" *ngFor="let category of categoryList">
                                        <div class="dlvr-uikit-card dlvr-uikit-icon-card dlvr-uikit-icon-card-green m-b-10"
                                            [ngClass]="{'active': category?.labelName == postJobForm.controls['itemCategory'].value }"
                                            (click)="selectingCategory(category?.labelName)">
                                            <label class="dlvr-uikit-radio"
                                                [ngClass]="{'dlvr-uikit-radio-green': category?.labelName == postJobForm.controls['itemCategory'].value }">
                                                <input name="radioCategory" value="{{category?.labelName}}" type="radio"
                                                    [checked]="category?.labelName == postJobForm.controls['itemCategory'].value">
                                                <span></span>
                                            </label>
                                            <!-- <i class="material-icons-outlined">{{ category?.iconName }}</i> -->
                                            <img src="{{category?.imgSrc}}" alt="{{category?.labelName}}" class="dlvr-category-img">
                                            <p class="center">{{ category?.labelName }}</p>
                                        </div> 
                                    </div>
                                    <!-- <div class="col s12">  
                                        <button
                                            class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-small dlvr-uikit-btn-blue m-t-10"
                                            type="button" (click)="next()"
                                            [disabled]="!postJobForm.controls['itemCategory'].valid">Next</button>
                                    </div> -->
                                </div> 
                            </div>
                        </div>
                        <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify noactualbutton"
                            type="button" (click)="next()" [disabled]="!postJobForm.controls['itemCategory'].valid">Next</button>
                    </div>
                </div>
            </div>
            <!--STEP 2 of 5 END-->
            <!--STEP 3 of 5-->
            <div class="dlvr-postJob-screen-wrapper step3" *ngIf="step == 'step3'">
                <div class="img-wrapper">
                    <img src="../../../../assets/images/select_vehicle_icon.png" alt="select_vehicle_icon" class="icon-img"  data-aos="zoom-in">
                </div>
                <div class="dlvr-postJob-step2">
                    <div class="container">
                        <div class="row"  data-aos="fade-left">
                            <div class="col s12 p-r-30 p-l-30">  
                                <h2 class="title">Select a vehicle<br> your package fits into</h2>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="dlvr-uikit-card  dlvr-uikit-icon-card dlvr-uikit-icon-card-green"
                                            [ngClass]="{'active': postJobForm.controls['deliveryVehicle'].value == 'Sedan' }"
                                            (click)="setdeliveryVehicle('Sedan')">
                                            <label class="dlvr-uikit-radio"
                                                [ngClass]="{'dlvr-uikit-radio-green': postJobForm.controls['deliveryVehicle'].value == 'Sedan' }">
                                                <input name="radioSize" type="radio"
                                                    [checked]="postJobForm.controls['deliveryVehicle'].value == 'Sedan'">
                                                <span></span>
                                            </label>
                                            <div class="row">
                                                <div class="col s6">
                                                    <img src="../../../../assets/images/sedan_icon.png" alt="sedan_icon" class="dlvr-car-category-img">
                                                </div>
                                                <div class="col s6">
                                                    <p class="dlvr-car-category-title">Sedan</p>
                                                </div>
                                            </div>
                                            <!-- <i class="material-icons-outlined">crop_free</i> -->
                                            <!-- <p class="center m-0">Sedan</p> -->
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="dlvr-uikit-card  dlvr-uikit-icon-card dlvr-uikit-icon-card-green"
                                            [ngClass]="{'active': postJobForm.controls['deliveryVehicle'].value == 'SUV' }"
                                            (click)="setdeliveryVehicle('SUV')">
                                            <label class="dlvr-uikit-radio"
                                                [ngClass]="{'dlvr-uikit-radio-green': postJobForm.controls['deliveryVehicle'].value == 'SUV' }">
                                                <input name="radioSize" type="radio"
                                                    [checked]="postJobForm.controls['deliveryVehicle'].value == 'SUV'">
                                                <span></span>
                                            </label>
                                            <!-- <i class="material-icons-outlined">center_focus_weak</i> -->
                                            <!-- <p class="center m-0">SUV</p> -->
                                            <div class="row">
                                                <div class="col s6">
                                                    <img src="../../../../assets/images/suv_icon.png" alt="suv_icon" class="dlvr-car-category-img">
                                                </div>
                                                <div class="col s6">
                                                    <p class="dlvr-car-category-title">SUV</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="dlvr-uikit-card  dlvr-uikit-icon-card dlvr-uikit-icon-card-green"
                                            [ngClass]="{'active': postJobForm.controls['deliveryVehicle'].value == 'Truck' }"
                                            (click)="setdeliveryVehicle('Truck')">
                                            <label class="dlvr-uikit-radio"
                                                [ngClass]="{'dlvr-uikit-radio-green': postJobForm.controls['deliveryVehicle'].value == 'Truck' }">
                                                <input name="radioSize" type="radio"
                                                    [checked]="postJobForm.controls['deliveryVehicle'].value == 'Truck'">
                                                <span></span>
                                            </label>
                                            <div class="row">
                                                <div class="col s6">
                                                    <img src="../../../../assets/images/truck_icon.png" alt="truck_icon" class="dlvr-car-category-img">
                                                </div>
                                                <div class="col s6">
                                                    <p class="dlvr-car-category-title">Truck</p>
                                                </div>
                                            </div>
                                            <!-- <i class="material-icons-outlined">center_focus_strong</i> -->
                                            <!-- <p class="center m-0">Truck</p> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <h2>What is the type of delivery?</h2> -->
                                <!-- <div class="dlvr-postJob-timeType dlvr-postJob-timeType-blue"> -->
                                    <!-- <div class="dlvr-radio dlvr-radio-blue"
                                        [ngClass]="{'active': postJobForm.controls['deliveryType'].value == 'Immediate' }">
                                        <label class="dlvr-uikit-radio dlvr-uikit-radio-blue">
                                            <input value="Immediate" type="radio" formControlName='deliveryType' />
                                            <span>Immediate</span>
                                        </label>
                                    </div> -->
                                    <!-- <div class="dlvr-radio dlvr-radio-blue"
                                        [ngClass]="{'active': postJobForm.controls['deliveryType'].value == '1 day' }">
                                        <label class="dlvr-uikit-radio dlvr-uikit-radio-blue">
                                            <input value="1 day" type="radio" formControlName='deliveryType' />
                                            <span>1 day</span>
                                        </label>
                                    </div> -->
                                    <!-- <div class="dlvr-radio dlvr-radio-blue"
                                        [ngClass]="{'active': postJobForm.controls['deliveryType'].value == 'Flexible' }">
                                        <label class="dlvr-uikit-radio dlvr-uikit-radio-blue">
                                            <input value="Flexible" type="radio" formControlName='deliveryType'
                                                (change)="openDatePicker()" />
                                            <span>Flexible</span>
                                        </label>
                                    </div> -->
                                    <!-- <div class="dlvr-radio dlvr-radio-blue"
                                        [ngClass]="{'active': postJobForm.controls['deliveryType'].value == 'Exact Time' }">
                                        <label class="dlvr-uikit-radio dlvr-uikit-radio-blue">
                                            <input value="Exact Time" type="radio" formControlName='deliveryType'
                                                (change)="openDatePicker()" />
                                            <span>Exact Time</span>
                                        </label>
                                    </div> -->
                                    <!-- <div class="card dlvr-card m-t-20"
                                        [hidden]="postJobForm.controls['deliveryType'].value == 'Immediate' ">
                                        <div class="row" (click)="openDateModal()">
                                            <div class="col s6">
                                                <p class="m-b-10 m-t-10"><strong>Pick up Date</strong></p>
                                            </div>
                                            <div class="col s6">
                                                <input type="text" class="dlvr-text-input m-t-0 datepicker"
                                                    placeholder="Select Date" formControlName='deliveryDate' />
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <button
                                        class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-small dlvr-uikit-btn-blue m-t-10"
                                        type="button" (click)="next()"
                                        [disabled]="!postJobForm.controls['deliveryType'].valid || !postJobForm.controls['deliveryVehicle'].valid">NEXT</button> -->
                                <!-- </div> -->
                            </div>
                        </div>
                        <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify noactualbutton"
                            type="button" (click)="next()" [disabled]="!postJobForm.controls['deliveryVehicle'].valid">Next</button>
                    </div>
                </div>
            </div>
            <!--STEP 3 of 5 END-->
            <!--STEP 4 of 5-->
            <div class="dlvr-postJob-screen-wrapper step4" *ngIf="step == 'step4'">
                <div class="img-wrapper">
                    <img src="../../../../assets/images/delivery_type.png" alt="delivery_type" class="icon-img"  data-aos="zoom-in">
                </div>
                <div class="dlvr-postJob-step2">
                    <div class="container">
                <div id="overlay" *ngIf="!hidden">
                    <ion-calendar 
                        (change)="onChange($event)"
                        [type]="type"
                        [format]="'YYYY-MM-DD'" 
                        formControlName="deliveryDate">
                    </ion-calendar>
                </div>
                        <div class="row" data-aos="fade-left">
                            <div class="col s12 p-r-30 p-l-30">
                                <h2 class="title m-t-20">Select a delivery type</h2>
                                <div class="dlvr-postJob-timeType dlvr-postJob-timeType-blue">
                                    <div class="row">
                                        <div class="col s6">
                                            <div class="dlvr-radio dlvr-radio-green p-0"
                                                [ngClass]="{'active': postJobForm.controls['deliveryType'].value == 'Immediate' }">
                                                <label class="dlvr-uikit-radio dlvr-uikit-radio-green">
                                                    <input value="Immediate" type="radio" formControlName='deliveryType' />
                                                    <span>ASAP</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s6">
                                            <div class=" dlvr-radio dlvr-radio-green p-0"
                                                [ngClass]="{'active': postJobForm.controls['deliveryType'].value == 'Flexible' }">
                                                <label class="dlvr-uikit-radio dlvr-uikit-radio-green">
                                                    <input value="Flexible" type="radio" formControlName='deliveryType'
                                                        (click)="activateandDeactivateCalendarModal()" />
                                                    <span>Flexible</span>
                                                </label>
                                            </div>
                                            <span ></span> 
                                        </div>
                                    </div> 
                                    <div class="row scrollmenu" *ngIf="urls.length != 0">
                                        <div class="eachitem col s3 m3 image-item" *ngFor="let url of urls;index as i">
                                            <i *ngIf="url.selected || url.uploaded" class="icon-close" (click)="justDelete(i)"></i>
                                            <img class="obj-image" [src]="url.link">
                                        </div>
                                        <div class="eachitem col s4 m4 plus-add-image-block" *ngIf="urls.length < 5" (click)="openFile()">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div> 
                                    </div>  
                                    <div class="row">                 
                                        <div class="col s12">
                                            <input type="file" id="image" style="display: none;" #fileupload accept="image/x-png,image/gif,image/jpeg"
                                            multiple="true" class="fileupload" name="fileupload" (change)="onSelectFile($event)" />
                            
                                            <button class="dlvr-add-photos-btn" (click)="openFile()">
                                                <i class="material-icons">library_add</i>
                                                Add Photos
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <ul class="collection dlvr-instruction"> 
                                                <li class="collection-item avatar" (click)="openModel()">
                                                  <i class="material-icons-outlined circle">speaker_notes</i>
                                                  <span class="title">Any instruction to the driver?</span>
                                                  <p>e.g. please wait in the parking bay </p> 
                                                </li> 
                                              </ul>
                                        </div>
                                    </div> 

                       
                                    <!-- <div class="dlvr-radio dlvr-radio-blue"
                                        [ngClass]="{'active': postJobForm.controls['deliveryType'].value == '1 day' }">
                                        <label class="dlvr-uikit-radio dlvr-uikit-radio-blue">
                                            <input value="1 day" type="radio" formControlName='deliveryType' />
                                            <span>1 day</span>
                                        </label>
                                    </div> --> 
                                    <!-- <div class="dlvr-radio dlvr-radio-green"
                                        [ngClass]="{'active': postJobForm.controls['deliveryType'].value == 'Exact Time' }">
                                        <label class="dlvr-uikit-radio dlvr-uikit-radio-green">
                                            <input value="Exact Time" type="radio" formControlName='deliveryType'
                                                (change)="openDatePicker()" />
                                            <span>Exact Time</span>
                                        </label>
                                    </div> -->
                                    <!-- <div class="card dlvr-card m-t-20"
                                        [hidden]="postJobForm.controls['deliveryType'].value == 'Immediate' ">
                                        <div class="row">
                                            <div class="col s6">
                                                <p class="m-b-10 m-t-10"><strong>Pick up Date</strong></p>
                                            </div>
                                            <div class="col s6">
                                                <input type="text" class="dlvr-text-input m-t-0 datepicker"
                                                    placeholder="Select Date" formControlName='deliveryDate' />
                                            </div>
                                        </div>
                                    </div>  -->
                                </div>
                            </div>
                        </div>
                        <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify noactualbutton"
                            type="button"  (click)="next()"
                            [disabled]="!postJobForm.controls['deliveryType'].valid">Next</button>
                    </div>
                </div>
            </div>
            <!--STEP 4 of 5 END-->
            <!--STEP 5 of 5-->
            <div class="dlvr-postJob-screen-wrapper step5" *ngIf="step == 'step5'" >
                <div class="img-wrapper">
                    <img src="../../../../assets/images/phone_icon.png" alt="phone_icon" class="icon-img"  data-aos="zoom-in">
                </div>
                <div class="dlvr-postJob-step2"> 
                    <div class="container">
                        <div class="row" data-aos="fade-left">
                            <div class="col s12">
                                <h2 class="title m-t-10 m-b-20">Reciever Details</h2>
                                <!-- <div class="dlvr-postJob-heroImg">
                                    <img src="../../../../assets/images/step5Hero.svg" class="p-0 m-b-30"
                                        alt="step5Hero" />
                                </div> --> 

                                <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey"
                                    placeholder="Reciever's Name" formControlName="receiverName" />

                                <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey"
                                    placeholder="Reciever's Contact Number" formControlName="receiverNumber" />

                                <h3>Delivery Amount</h3>    
                                <div class="dlvr-uikit-icon-input">
                                    <i class="material-icons-outlined">attach_money</i>
                                    <input type="number" min="{{postJobForm.controls['jobAmount'].value}}"
                                        placeholder="23"
                                        class="dlvr-uikit-input dlvr-uikit-input-grey"
                                        formControlName="jobAmount" />
                                    <i class="material-icons-outlined edit-ammount">edit</i>
                                </div>

                                <!-- <textarea class="dlvr-uikit-input dlvr-uikit-input-grey"
                                    placeholder="Any Instructions For Driver..."
                                    formControlName="instructionForReceiver"></textarea> -->

                                <!-- <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-small dlvr-uikit-btn-blue"
                                    type="button" [disabled]="!postJobForm.controls['jobAmount'].valid" (click)="next()">NEXT</button> -->
                            </div>
                        </div>
                        <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify noactualbutton"
                            type="button" [disabled]="!postJobForm.controls['jobAmount'].valid || !postJobForm.controls['receiverName'].valid || !postJobForm.controls['receiverNumber'].valid" (click)="next()">Paynow</button>
                    </div>
                </div>
            </div>
            <!--STEP 5 of 5 END-->
        </div>
        <div class="dlvr-modal dlvr-confirmLocation-modal" materialize *ngIf="step == 'step1'">
            <!-- Modal -->
            <div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: true}]"
                [materializeActions]="modalActions">
                <div class="modal-content">
                    <p><i class="material-icons">swap_calls</i> <b>Distance:</b> {{ totalDistance }}
                        <i class="material-icons m-l-10">access_time</i> <b>Duration:</b> {{ totalDuration }}
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="dlvr-modal-btn-wrapper">
                        <button class="dlvr-uikit-btn dlvr-uikit-btn-rounded dlvr-uikit-btn-small dlvr-uikit-btn-blue"
                            (click)="next()">Confirm
                            Location</button>
                    </div>
                </div>
            </div>
            <!-- Modal End-->
        </div> 
        <!-- <div class="dlvr-modal dlvr-instruction-modal" materialize *ngIf="step == 'step4'">
            <div id="instruction" class="modal white" materialize="modal" [materializeParams]="[{dismissible: true}]"
                [materializeActions]="modalActions">
                <div class="modal-content">
                    <ul class="collection dlvr-instruction"> 
                        <li class="collection-item avatar white">
                            <i class="material-icons-outlined circle">speaker_notes</i>
                            <span class="title">Add instruction</span> 
                        </li> 
                    </ul>
                    <textarea class="dlvr-uikit-input dlvr-uikit-input-grey" rows="8" placeholder="Write here..." formControlName="instructionForReceiver"></textarea>
                    <div class="dlvr-modal-btn-wrapper">
                        <button class="dlvr-uikit-btn dlvr-uikit-btn-rounded dlvr-uikit-btn-small dlvr-uikit-btn-blue"
                            (click)="saveInstructions('instruction')">Save</button>
                    </div>
                </div> 
            </div>
        </div> -->
<!-- <input type="text" class="dlvr-text-input m-t-0" [hidden]="true"
placeholder="Select Date" formControlName='deliveryDate'/> -->
    </form>
</ion-content>

