/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// @import ''; // 'node_modules/materialize-css/dist/css/materialize.css';
// @import 'aos/dist/aos.css';
@import './assets/scss/fonts.scss';
@import './theme/variables.scss' ;
// $simple-line-font-path : "node_modules/simple-line-icons/fonts/";
// @import 'node_modules/simple-line-icons/scss/simple-line-icons';
// $fa-font-path : "node_modules/font-awesome/fonts/";
// @import 'node_modules/font-awesome/scss/font-awesome.scss';
@import './assets/scss/dlvr-ui-kit.scss';


body {
    font-family: $primary_font; 
    font-weight: $regular;
    overflow: auto !important;
}
@media (max-width: 600px){    
  body{
    height: 100vh !important;
  }
}
.material-icons-outlined { vertical-align: middle;}
/*HELPER CLASSES*/
.h1, h1 { font-size: 36px; font-weight: 600} 
.h2, h2 { font-size: 28px; font-weight: 600} 
.h3, h3 { font-size: 26px; font-weight: 600} 
.h4, h4 { font-size: 24px; font-weight: 600} 
.h5, h5 { font-size: 18px; font-weight: 600} 
.scrollTop { position: fixed; right: 2%; bottom: 10px; background-color: rgba(221, 117, 84,.8); padding: 10px 16px; opacity: 0; transition: all 0.4s ease-in-out 0s; z-index: 999; border-radius: 50%; }
.scrollTop a { font-size: 18px; color: #fff; } 

/*Common and Overwrite Bootstrap*/

.btn:disabled, .btn.disabled, 
.disabled.btn-large, .disabled.btn-small, 
.btn-floating.disabled, .btn-large.disabled, 
.btn-small.disabled, .btn-flat.disabled, 
.btn:disabled, .btn-large:disabled, 
.btn-small:disabled, .btn-floating:disabled, 
.btn-large:disabled, .btn-small:disabled, 
.btn-flat:disabled, .btn[disabled], 
.btn-large[disabled], .btn-small[disabled], 
.btn-floating[disabled], .btn-large[disabled], 
.btn-small[disabled], .btn-flat[disabled] {
  background: $primary-color-light !important;
  background-color: $primary-color-light !important;
}
.errorMessage { 
  margin: 0;
  color: red;
  font-size: 11px;
  margin-bottom: 10px;
}
.pointer-cursor {
  cursor: pointer;
}
.dlvr-code{
  margin-right: 10px;
  background-color:rgba(221, 117, 84,.2)
}
/*SCROLL BAR*/

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey; 
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(38, 186, 232, 0.34); 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:$primary-color; 
}
/*Overwrit e Materialize*/
.row {
    margin-bottom: 0 !important;
}

/*COMMON STYLES/ UI KIT*/  
.dlvr-btn { 
  border-radius: 10px !important;
  font-family: $primary_font;
  font-weight: $bold;   
  padding: 0 42px;
  box-shadow: $shadow-light !important;
  height: 42px;
  line-height: 42px;
}
.dlvr-primary-btn {
  background: $primary-gradient-color;
}
.dlvr-secondary-btn {
  background: $secondary-gradient-color; 
}
.dlvr-white-btn {
  background-color: #fff !important;
  color: #333 !important;
  border-radius: 10px !important; 
}
.dlvr-red-btn {
  background-color: #fff !important;
  color: #333 !important;
  border-radius: 10px !important;
  font-family: $primary_font;
  font-weight: $bold; 
  padding: 0 42px;
  box-shadow : 0px 0px 7px rgba(0, 0, 0, 0.75) !important;
  height: 42px;
  line-height: 42px;
}
.dlvr-divider {
  border-bottom: 1px solid #bbb;
  // margin: 16px 0;
  height: 1px;
  height: 24px;
  color: #333;
}
.dlvr-btn-small {
  padding: 0 26px;
  height: 36px;
  line-height: 0;
}
/*INPUT*/
.dlvr-text-input {
  border: none !important;
  border-radius: 5px !important;
  background-color: $light-color !important;
  padding: 0px 10px !important; 
  box-sizing: border-box !important;
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}
.dlvr-text-input::placeholder {
  color: $light-color2;
}
.dlvr-text-input:focus,
textarea.dlvr-text-input:focus {
  box-shadow: 0 1px 0 0 $primary-color-light !important;
  outline: none;
} 
.dlvr-text-input.dlvr-input-white { 
  background-color: $white-color !important;
}
textarea.dlvr-text-input {
  font-size: 16px;
  height: 5rem;
  padding-top: 16px !important; 
} 
/*RADIO*/
.dlvr-radio,
.dlvr-checkbox {
  margin: 8px 16px 8px 0;
  min-width: 100px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out; 
  border-radius: 10px; 
  padding: 5px 8px; 
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
} 
.dlvr-radio label,
.dlvr-checkbox label{
  padding: 16px;
}
.dlvr-radio.dlvr-radio-blue.active input:checked + span:after{
  background-color: $white-color !important;
  color: $uikit-Blue-color;  
  border: none;
}   
.dlvr-checkbox.dlvr-checkbox-blue input:checked + span:not(.lever):before {
  border-right-color: $white-color;
  border-bottom-color: $white-color;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}
.dlvr-checkbox.dlvr-checkbox-blue input + span:not(.lever):before {
  color: $light-color2;
  border-color: $light-color2;
}
.dlvr-radio.dlvr-radio-blue.active,
.dlvr-checkbox.dlvr-checkbox-blue.active {
  background: $uikit-Blue-color;
}
.dlvr-radio.dlvr-radio-green.active,
.dlvr-checkbox.dlvr-checkbox-green.active {
  background: $uikit-Green-color;
}
.dlvr-radio.dlvr-radio-blue.active span,
.dlvr-checkbox.dlvr-checkbox-blue.active span {
  color: $white-color;
}
/*CHECKBOX*/ 
/*CARD*/
.card.dlvr-card {
  border-radius: 10px;
  padding: 8px;
}

/*ACCORDION*/
.collapsible.dlvr-collapsible {
  position: relative;
}
.collapsible.dlvr-collapsible,
.dlvr-collapsible .collapsible-header{
  border-radius: 10px;
}
.dlvr-collapsible .collapsible-body {
  padding: 16px;
}

/*LABEL/BAdge*/
.dlvr-label {
  padding: 4px 8px;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  font-family: $secondary_font;
  color: $white-color;
}
.dlvr-label.dlvr-label-red {
  background: $urgent-gradient-color;
}
.dlvr-label.dlvr-label-blue {
  background: $primary-gradient-color; 
}

/*PROGRESS BAR*/

.dlvr-progressBar {
  position: relative;
  display: flex;
  z-index: 0;    
  top: 10px; 
}
.dlvr-progress-track { 
  position: absolute;
  top: 10px;
  width: 80%;
  height: 5px;
  background-color: #A3B9C0;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
}
// Each Step on the Progress Bar
.dlvr-progress-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  font-size: 12px;
  color: $light-color2;

  // Hide the final step's progress bar
  &:last-child:after {
    display: none;
  }
  // Step's circle in default state
  &:before {
      content: "\f187";
      font-family: "FontAwesome";
      display: flex;
      margin: 0 auto;
      margin-bottom: 10px;
      width: 24px;
      height: 24px;
      background: $white-color;
      border: 4px solid #A3B9C0;
      border-radius: 100%;
      color: $white-color;
      font-size: 13px;
      padding-left: 2px;
      padding-top: 1px;
  } 
  // Step's progress bar in default state
  &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 50%;
      width: 0%;
      transition: width 1s ease-in;
      height: 5px;
      background: $light-color2;
      z-index: -1;
  }
  // Step's active state
  &.is-active {
      color: $primary-color;
  
  &:before {
  border: 4px solid $light-color2;
  animation: pulse 2s infinite;
  }
  }
  // Step's complete state
  &.is-complete {
      color: $secondary-color;
  
      // Step's circle in complete state
      &:before {
      font-family: FontAwesome;
      font-size: 13px;
      color: $white-color;
      background: $secondary-color;
      border: 4px solid transparent;
      }
  
      // Step's progress bar in complete state
      &:after {
      background: $primary-color;
      animation: nextStep 1s;
      animation-fill-mode: forwards;
      }
  }
}
// Pulse animation for Step's circle in active state
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(33,131,221, 0.4); }
  70% { box-shadow: 0 0 0 10px rgba(33,131,221, 0); }
  100% { box-shadow: 0 0 0 0 rgba(33,131,221, 0); }
}
// Progressing to next step animation for Step's progress bar
@keyframes nextStep {
  0% { width: 0%; }
  100% { width: 100%; }
}
/*PRE LOADERs*/
.dlvr-preloader {
    width: auto; 
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dlvr-preloaderLight>div {
  margin: 2px;
  background-color: $light-color2;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: stretchdelay .7s infinite ease-in-out;
  animation: stretchdelay .7s infinite ease-in-out;
}
.dlvr-preloaderLight .circ2{-webkit-animation-delay:-.6s;animation-delay:-.6s}
.dlvr-preloaderLight .circ3{-webkit-animation-delay:-.5s;animation-delay:-.5s}
.dlvr-preloaderLight .circ4{-webkit-animation-delay:-.4s;animation-delay:-.4s}
.dlvr-preloaderLight .circ5{-webkit-animation-delay:-.3s;animation-delay:-.3s}
@keyframes stretchdelay{0%,40%,100%{transform:translateY(-10px);-webkit-transform:translateY(-10px)}20%{transform:translateY(-20px);-webkit-transform:translateY(-20px)}}
@-webkit-keyframes stretchdelay{0%,40%,100%{-webkit-transform:translateY(-10px)}20%{-webkit-transform:translateY(-20px)}}
/*overwrite materializecss*/
.dlvr-postJob-timeType .datepicker-modal {
  border-radius: 20px; 
    max-height: 441px; 
}
.datepicker-modal { 
    max-height: 441px; 
}
.dlvr-postJob-timeType.dlvr-postJob-timeType-blue .datepicker-date-display {
  background-color: $uikit-Blue-color;
}
.dlvr-postJob-timeType.dlvr-postJob-timeType-green .datepicker-date-display {
  background-color: $uikit-Green-color;
}
.dlvr-postJob-timeType.dlvr-postJob-timeType-yellow .datepicker-date-display {
  background-color: $uikit-Yellow-color;
}
.dlvr-postJob-timeType.dlvr-postJob-timeType-orange .datepicker-date-display {
  background-color: $uikit-Orange-color;
}
.dlvr-postJob-timeType.dlvr-postJob-timeType-black .datepicker-date-display {
  background-color: $uikit-Black-color;
}
.dlvr-postJob-timeType.dlvr-postJob-timeType-blue .datepicker-table td.is-today,
.dlvr-postJob-timeType.dlvr-postJob-timeType-blue .datepicker-cancel, .datepicker-clear, 
.dlvr-postJob-timeType.dlvr-postJob-timeType-blue .datepicker-today, 
.dlvr-postJob-timeType.dlvr-postJob-timeType-blue .datepicker-done {
  color: $uikit-Blue-color;
}
.dlvr-postJob-timeType.dlvr-postJob-timeType-green .datepicker-table td.is-today,
.dlvr-postJob-timeType.dlvr-postJob-timeType-green .datepicker-cancel, .datepicker-clear, 
.dlvr-postJob-timeType.dlvr-postJob-timeType-green .datepicker-today, 
.dlvr-postJob-timeType.dlvr-postJob-timeType-green .datepicker-done {
  color: $uikit-Green-color;
}
.dlvr-postJob-timeType.dlvr-postJob-timeType-yellow .datepicker-table td.is-today,
.dlvr-postJob-timeType.dlvr-postJob-timeType-yellow .datepicker-cancel, .datepicker-clear, 
.dlvr-postJob-timeType.dlvr-postJob-timeType-yellow .datepicker-today, 
.dlvr-postJob-timeType.dlvr-postJob-timeType-yellow .datepicker-done {
  color: $uikit-Yellow-color;
}
.dlvr-postJob-timeType.dlvr-postJob-timeType-orange .datepicker-table td.is-today,
.dlvr-postJob-timeType.dlvr-postJob-timeType-orange .datepicker-cancel, .datepicker-clear, 
.dlvr-postJob-timeType.dlvr-postJob-timeType-orange .datepicker-today, 
.dlvr-postJob-timeType.dlvr-postJob-timeType-orange .datepicker-done {
  color: $uikit-Orange-color;
}
.dlvr-postJob-timeType.dlvr-postJob-timeType-black .datepicker-table td.is-today,
.dlvr-postJob-timeType.dlvr-postJob-timeType-black .datepicker-cancel, .datepicker-clear, 
.dlvr-postJob-timeType.dlvr-postJob-timeType-black .datepicker-today, 
.dlvr-postJob-timeType.dlvr-postJob-timeType-black .datepicker-done {
  color: $uikit-Black-color;
}






.select-wrapper{
  border: none;
  height: 56px ;
  background-color: #e9f0f2 ;
  padding-left: 16px;
  padding-top: 7px;
  border-radius: 6px;
} 
.select-wrapper input.select-dropdown:focus{
  border: none;
}
.select-wrapper input.select-dropdown{
  font-weight: 700;
  color: #414141;
  margin: 0;
  border: none;
}
.select-wrapper .dropdown-content {
  width: 100% !important;
  left: 0 !important;
}
.select-wrapper .dropdown-content li > a,
.select-wrapper .dropdown-content li > span{
  color: #414141;
  font-weight: 700;
}




 
@media(max-width: 1024px){
  .container {
      width: 90% !important;
  }   
}
@media(min-width: 1025px){
  .l-hide { display: none !important; }
  .m-t-32-xl { margin-top: 2em !important; }
  .dlvr-header-logo {
    margin-left: 15px;
  }
  .modal.bottom-sheet {
    max-width: 50%;
    margin: 0 auto;
  }
}

@media(max-width: 768px){ 
  .h1, h1 { font-size: 24px; font-weight: 600} 
  .h2, h2 { font-size: 20px; font-weight: 600} 
  .h3, h3 { font-size: 18px; font-weight: 600} 
  .h4, h4 { font-size: 16px; font-weight: 600} 
  .h5, h5 { font-size: 14px; font-weight: 600} 
}

.m-0 { margin: 0 !important; }
.m-y-10 { margin: 0 10px !important}
.m-y-20 { margin: 0 20px !important}
.m-y-30 { margin: 0 30px !important}
.m-y-40 { margin: 0 40px !important}
.m-y-50 { margin: 0 50px !important}
.m-10 { margin: 10px !important; }
.m-20 { margin: 20px !important; }
.m-30 { margin: 30px !important; }
.m-40 { margin: 40px !important; }
.m-50 { margin: 50px !important; }
.m-0-a { margin: 0 auto !important; }
.m-l-5 { margin-left: 5px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-l-20 { margin-left: 20px !important; }
.m-l-30 { margin-left: 30px !important; }
.m-l-40 { margin-left: 40px !important; }
.m-l-50 { margin-left: 50px !important; }
.m-r-5 { margin-right: 5px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-r-20 { margin-right: 20px !important; }
.m-r-30 { margin-right: 30px !important; }
.m-r-40 { margin-right: 40px !important; }
.m-r-50 { margin-right: 50px !important; }
.m-b-0 { margin-bottom: 0px !important; }
.m-b-5 { margin-bottom: 5px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-b-30 { margin-bottom: 30px !important; }
.m-b-40 { margin-bottom: 40px !important; }
.m-b-50 { margin-bottom: 50px !important; }
.m-t-0 { margin-top: 0px !important; }
.m-t-5 { margin-top: 5px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-30 { margin-top: 30px !important; }
.m-t-40 { margin-top: 40px !important; }
.m-t-50 { margin-top: 50px !important; }
.p-0 { padding: 0 !important; } 
.p-y-10 { padding: 0 10px !important}
.p-y-20 { padding: 0 20px !important}
.p-y-30 { padding: 0 30px !important}
.p-y-40 { padding: 0 40px !important}
.p-y-50 { padding: 0 50px !important}
.p-10 { padding: 10px !important; }
.p-20 { padding: 20px !important; }
.p-30 { padding: 30px !important; }
.p-40 { padding: 40px !important; }
.p-50 { padding: 50px !important; }
.p-l-0 { padding-left: 0px !important; }
.p-l-10 { padding-left: 10px !important; }
.p-l-20 { padding-left: 20px !important; }
.p-l-30 { padding-left: 30px !important; }
.p-l-40 { padding-left: 40px !important; }
.p-l-50 { padding-left: 50px !important; }
.p-r-0 { padding-right: 0px !important; }
.p-r-10 { padding-right: 10px !important; }
.p-r-20 { padding-right: 20px !important; }
.p-r-30 { padding-right: 30px !important; }
.p-r-40 { padding-right: 40px !important; }
.p-r-50 { padding-right: 50px !important; }
.p-t-5 { padding-top: 5px !important; }
.p-t-10 { padding-top: 10px !important; }
.p-t-20 { padding-top: 20px !important; }
.p-t-30 { padding-top: 30px !important; }
.p-t-40 { padding-top: 40px !important; }
.p-t-50 { padding-top: 50px !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-b-5 { padding-bottom: 5px !important; }
.p-b-10 { padding-bottom: 10px !important; }
.p-b-20 { padding-bottom: 20px !important; }
.p-b-30 { padding-bottom: 30px !important; }
.p-b-40 { padding-bottom: 40px !important; }
.p-b-50 { padding-bottom: 50px !important; }
.f-s-10 { font-size: 10px !important; }
.f-s-11 { font-size: 11px !important; }
.f-s-12 { font-size: 85% !important; }
.f-s-13 { font-size: 92% !important; }
.f-s-14 { font-size: 100% !important; }
.f-s-15 { font-size: 107% !important; }
.f-s-16 { font-size: 115% !important; }
.f-s-17 { font-size: 122% !important; }
.f-s-18 { font-size: 130% !important; }
.f-s-19 { font-size: 137% !important; }
.f-s-20 { font-size: 145% !important; }
.f-s-21 { font-size: 152% !important; }
.f-s-22 { font-size: 160% !important; }
.f-s-23 { font-size: 167% !important; }
.f-s-24 { font-size: 175% !important; }
.f-s-25 { font-size: 182% !important; } 
.f-w-100 { font-weight: 100 !important; }
.f-w-300 { font-weight: 300 !important; }
.f-w-400 { font-weight: 400 !important; }
.f-w-600 { font-weight: 600 !important; }
.f-w-700 { font-weight: $bold !important; }
.f-w-900 { font-weight: $black !important; }
.shadow { box-shadow: $shadow !important; }
.shadow-light { box-shadow: $shadow-light !important; }
.btn-full-width { width: 100% !important; }
div.toast.dlvr-success-toast {
  background: #d8ffe2;
  color: #77857b;
  font-weight: 400;
}
div#toast-container {
  width: 100%;
  bottom: 7%; 
}
div.toast.dlvr-error-toast {
  background: rgb(255, 213, 213);
  color: #857777;
  font-weight: 400;
}

.scrollable {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}
.consumer-tabs .tab a.active{
  color: $uikit-Blue-color;
}
.consumer-tabs .tab a{
  color: $light-color2;
}
.consumer-tabs .tab a:hover, .consumer-tabs .tab a.active {
  color: $uikit-Blue-color;
}

// .driver-tabs .tab a.active{
//   color: $uikit-Green-color;
// }
// .driver-tabs .tab a{
//   color: $light-color2;
// }
// .driver-tabs .tab a:hover, .driver-tabs .tab a.active {
//   color: $uikit-Green-color;
// }
input[type=range].dlvr-range + .thumb {
  background-color: $uikit-Green-color !important;
}
input[type=range]::-webkit-slider-thumb {
  background-color: $uikit-Green-color;
}
input[type=range]::-moz-range-thumb {
  background-color: $uikit-Green-color;
}
input[type=range]::-ms-thumb {
  background-color: $uikit-Green-color;
}
.vouched .navigation .link.highlight {
  background: $uikit-Green-color !important;
  color: $white-color !important;
}
.vouched .navigation .link {
  color: $uikit-Green-color !important;
}
.vouched .identity-display>div>label.error {
  color: $uikit-Green-color !important;
}
.vouched .identity-display>div>label {
  color: $uikit-Green-color !important;
}
.vouched .step-icon {
  background-color: transparent;
  color: #44c065 !important;
}
.modal{
  max-height: fit-content;
}
.wallet-tab-wrapper .tabs .indicator {
  display: none !important;
}

.successToast{
  --background: green;
}

.failureToast{
  --background: red;
}

.bold{
  font-weight: bold;
}


.interface-options .select-interface-option {
  font-weight: bold;
}

.decrease-modal-height{
  margin-top: 80% !important;
  height: 58%!important;
  width: 100%!important;
}

.ng2-tag-input__text-input{
  width: 24rem !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}
.tag-input-container {
  width: 50%;
}

.options {
  display: flex;
  flex-direction: row;
  margin: 2em 0;
}

.options label {
  margin-right: 1em;
}

.home-container {
  padding: 2em;
}

// input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
//   width: 206% !important; 
// }