<div class="dlvr-consumer-wrapper">
    <app-cart-header [showBackButton]="true"></app-cart-header>
</div>
<div class="progress" *ngIf="loading">
    <div class="indeterminate"></div>
</div>
<div [hidden]="loading" class="wrapper">

    <ul class="collection">
        <li class="collection-item avatar" *ngFor="let item of cart.items">
            <img [src]="item.photos_urls[0].firebase_url" alt="" class="circle">
            <a (click)="onDecrementQuantity(item);" class="secondary"><i class="material-icons">remove</i></a>
            <a (click)="onIncrementQuantity(item);" class="secondary"><i class="material-icons">add</i></a>

            <h4>{{item.name}}</h4>
            <p>Qty: {{item.qty}} - {{item.price}}</p>
        </li>
        <li class="collection-item">
            <p>Delivery: {{ deliveryCharges | currency }}</p>
            <h4>Total - {{ total + deliveryCharges | currency }}</h4>
        </li>
    </ul>

    <table class="picks-div">
        <tbody>
            <tr style="border: unset;">
                <td class="top-heading">Delivery Location</td>
                <td class="top-location"><a class="link" (click)="navigateTo('marketplace/productlocation')"><i
                            class="material-icons">location_on</i> {{mapService.location_block}}</a> </td>
            </tr>
        </tbody>
    </table>


    <form [formGroup]="aForm" novalidate (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="col s12 m12">
                <input type="hidden" formControlName="buyer_latitude" name="buyer_latitude" />
                <input type="hidden" formControlName="buyer_longitude" name="buyer_longitude" />
                <input type="hidden" formControlName="buyer_address" name="buyer_address" />
            </div>

            <div class="col s12 m12">
                <input type="hidden" formControlName="product_id" name="product_id" />
            </div>

            <div class="col s12 m12">
                <label>Payment Type</label>
                <select formControlName="payment_type" (change)="changeOptions($event)" class="dlvr-select-input">
                    <option [ngValue]="paymentTypes[0]">
                        <i class="fab fa-paypal"></i>Paypal
                    </option>
                    <option [ngValue]="paymentTypes[1]">
                        <i class="fas fa-money-bill-wave-alt"></i>Pay By Cash
                    </option>
                </select>
                <p class="errorMessage" *ngIf="!aForm.get('payment_type').valid && aForm.get('payment_type').touched">
                    Please Choose Payment Type
                </p>
            </div>


            <div class="col s12 m12">
                <label>Delivery Option</label>
                <select formControlName="delivery_options" (change)="changeDeliveryOptions($event)"
                    class="dlvr-select-input">
                    <option *ngIf="!disableOption" [ngValue]="deliveryOptions[0]">{{deliveryOptions[0]}}</option>
                    <option [ngValue]="deliveryOptions[1]">{{deliveryOptions[1]}}</option>
                </select>
                <p class="errorMessage"
                    *ngIf="!aForm.get('delivery_options').valid && aForm.get('delivery_options').touched">
                    Please Choose Delivery Options
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col s12 m12">
                <button class=" waves-light btn btn-full-width btn-large dlvr-btn dlvr-primary-btn m-t-10" type="submit"
                    (click)="checkout($event)">Place Order</button>
            </div>
        </div>
    </form>
</div>