@import '../../../../../node_modules/materialize-css/dist/css/materialize.css';
@import '../../../../assets/scss/dlvr-ui-kit.scss';
.dlvr-select-input {
    display: block !important;
    border: none !important;
    border-radius: 5px !important;
    background-color: #EDEDED !important;
    padding: 0px 10px !important;
    box-sizing: border-box !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}    

h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.secondary {
    position: relative;
    float: right;
    top: 16px;
    right: 16px;
}

.center{
    padding-top: 80px;
}

.wrapper{
    margin-bottom: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}